// base

*:focus {
  outline: none !important;
}

* {
  outline: 1px solid red;
  opacity: 1 !important;
  visibility: visible !important;
}

body {
}

h1 {
  white-space: nowrap;
}

h1,
h2,
h3 {
  color: $color-black;
}

a {
  text-decoration: none;
}
