// base

*:focus {
  outline: none !important;
}

// overflow'u tespit etmek için outline-border
* {
  // outline: 1px solid red;
  // opacity: 1 !important;
  // visibility: visible !important;
}
body {
  // overflow-x: hidden;
}
h1,
h2,
h3 {
  color: $color-black;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) and (max-width: 576px) {
  body {
    // overflow-x: hidden;
  }

  h1 {
    font-size: $font-28;
    text-align: center;
    line-height: 46px;
    font-weight: $light;
  }

  h2 {
    font-size: $font-24;
    line-height: $font-33;
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) and (max-width: 768px) {
  body {
  }

  h1 {
    font-size: $font-48;
    text-align: center;
    line-height: $font-72;
  }

  h2 {
    font-size: $font-32;
    line-height: $font-33;
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {
  body {
  }

  h1 {
    font-size: $font-56;
    line-height: 76px;
    text-align: left;
    white-space: nowrap;
  }

  h2 {
    font-size: $font-42;
    line-height: $font-56;
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  body {
  }
  h1 {
    white-space: nowrap;
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
