// buttons

.btn_def {
  display: block;
  border: none;
  text-align: center;
  white-space: nowrap;
  @include transition($btn);
  &:hover {
    @include transition($btn);
  }

  // navigation
  &--nav {
    padding: 10px 22px 11px 19px;
    background-color: $color-white;
    color: $color-shipgray;

    &:hover {
      color: $color-haiti;
      background-color: $color-nebula;

      text-decoration: none;
    }
  }

  // homepage-search-box
  &--search-box {
    background-color: $color-coral;
    color: $color-white;

    &:hover {
      background-color: $color-blazeorange;
    }

    &-sm {
      &:hover {
        background-color: $color-blazeorange;
      }
    }
  }

  // homepage-find-job
  &--find-jobs-now {
    padding: 24px 45px 21px 44px;
    color: $color-white;
    background-color: $color-coral;
    img {
      padding-right: 11px;
      font-size: 20px;
      color: $color-white;
    }

    &:hover {
      color: $color-white;
      background-color: $color-blazeorange;
      text-decoration: none;
    }
  }

  // company-vacancies
  &--search-box-xs {
    padding: 10px 17px;
    background-color: $color-coral;
    color: $color-white;
  }

  // search-jobsOne/searchJobsTwo-searchbox
  &--search-box-sm {
    padding: 15px 39px;
    background-color: $color-coral;
    color: $color-white;
  }

  // homepage-trending
  &--trending {
    display: inline-block;
    white-space: normal;
    padding: 7px 15px 8px 15px;
    background-color: $color-white;
    color: $color-midgray;
    opacity: 0.7;
  }

  // searchjobsTwo-location
  &--location {
    display: inline-block;
    padding: 12px 78px;
    background-color: $color-coral;
    color: $color-white;
  }

  // company-reviews-cards
  &--helpful {
    display: inline-block;
    padding: 10px 12px;
    background-color: transparent;
    color: $color-coral;
    border: 1px solid $color-coral;
  }

  // company-reviews-cards

  &--recommendation-green {
    color: $color-chateaugreen;
    background-color: rgba(57, 177, 99, 0.1);
  }
  &--recommendation-red {
    color: $color-bittersweet;
    background-color: rgba(255, 97, 97, 0.1);
  }
  &--recommendation-gray {
    color: $color-midgray;
    background-color: rgba(100, 98, 106, 0.1);
  }

  // pricing-price
  &--pricing {
    padding: 16px 20px;
    background-color: $color-coral;
    color: $color-white;
  }
  &--pricing-gray {
    padding: 16px 20px;
    background-color: $color-athensgray;
    color: $color-midgray;
  }

  // company-right
  &--share {
    display: inline-block;
    padding: 16px 28px;
    color: $color-midgray;
    background-color: $color-white;
    i {
      padding-right: 7px;
    }
  }
  &--review {
    display: inline-block;
    padding: 16px 47px;
    color: $color-white;
    background-color: $color-blazeorange;
  }
}

// dropdown-button
.btn {
  color: $color-shipgray;
  &:focus,
  &:after {
    outline: none !important;
    box-shadow: none;
  }
}

.dropdown-toggle {
  text-decoration: underline;
}

// * responsive
// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .btn_def {
    &--search-box {
      padding: 16px 100px;
      margin: 10px 0;

      &-sm {
        padding: 16px 106px;
      }
    }
    &--find-jobs-now {
      padding: 12px 16px;
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
  .btn_def {
    &--search-box {
      padding: 16px 220px;
      &-sm {
        padding: 16px 206px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .btn_def {
    &--search-box {
      padding: 13px 28px;
      &-sm {
        padding: 13px 28px;
      }
    }
    &--find-jobs-now {
      padding: 19px 36px;
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .btn_def {
    &--search-box {
      padding: 18px 38px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  .btn_def {
    &--find-jobs-now {
      padding: 22px 44px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
