// buttons

.btn_def {
  display: block;
  border: none;
  text-align: center;
  white-space: nowrap;

  // navigation
  &--nav {
    padding: 10px 22px 11px 19px;
    background-color: $color-white;
    color: $color-shipgray;
    @include transition($all);
    &:hover {
      color: $color-haiti;
      background-color: $color-nebula;
      @include transition($all);
      text-decoration: none;
    }
  }

  // homepage-search-box
  &--search-box {
    padding: 19px 40px 16px 39px;
    background-color: $color-coral;
    color: $color-white;
    @include transition($all);
    &:hover {
      background-color: $color-blazeorange;
      @include transition($all);
    }
  }

  // homepage-find-job
  &--find-jobs-now {
    padding: 24px 45px 21px 44px;
    color: $color-white;
    background-color: $color-coral;
    img {
      padding-right: 11px;
      font-size: 20px;
      color: $color-white;
    }
    @include transition($all);
    &:hover {
      @include transition($all);
      color: $color-white;
      background-color: $color-blazeorange;
      text-decoration: none;
    }
  }

  // company-vacancies
  &--search-box-xs {
    padding: 10px 17px;
    background-color: $color-coral;
    color: $color-white;
  }
  // search-jobsOne/searchJobsTwo-searchbox
  &--search-box-sm {
    padding: 10px 39px 10px 39px;
    background-color: $color-coral;
    color: $color-white;
  }

  // homepage-trending
  &--trending {
    padding: 7px 15px 8px 15px;
    background-color: $color-white;
    color: $color-midgray;
    opacity: 0.7;
  }

  // searchjobsTwo-location
  &--location {
    display: inline-block;
    padding: 12px 78px;
    background-color: $color-coral;
    color: $color-white;
  }

  // company-reviews-cards
  &--helpful {
    display: inline-block;
    padding: 10px 12px;
    background-color: transparent;
    color: $color-coral;
    border: 1px solid $color-coral;
  }

  // company-reviews-cards

  &--recommendation-green {
    color: $color-chateaugreen;
    background-color: rgba(57, 177, 99, 0.1);
  }
  &--recommendation-red {
    color: $color-bittersweet;
    background-color: rgba(255, 97, 97, 0.1);
  }
  &--recommendation-gray {
    color: $color-midgray;
    background-color: rgba(100, 98, 106, 0.1);
  }

  // pricing-price
  &--pricing {
    padding: 16px 20px;
    background-color: $color-coral;
    color: $color-white;
  }
  &--pricing-gray {
    padding: 16px 20px;
    background-color: $color-athensgray;
    color: $color-midgray;
  }

  // company-right
  &--share {
    display: inline-block;
    padding: 16px 28px;
    color: $color-midgray;
    background-color: $color-white;
    i {
      padding-right: 7px;
    }
  }
  &--review {
    display: inline-block;
    padding: 16px 47px;
    color: $color-white;
    background-color: $color-blazeorange;
  }
}

// dropdown-button
.btn {
  color: $color-shipgray;
  &:focus,
  &:after {
    outline: none !important;
    box-shadow: none;
  }
}
