// cards

.card {
  // homepage-daily-job-board
  &--daily {
    border: 1px solid rgba(232, 231, 232, 0.5);

    .card__topper {
      display: flex;
      align-items: center;

      .card__company-name {
        margin-right: auto;
        padding: 0 11px;
      }
      .card__time {
        display: flex;
        justify-content: flex-end;
      }
    }

    .card__description {
      display: flex;

      i {
        align-items: center;
        font-size: $font-20;
      }
    }

    .card__bottom {
      display: flex;
      position: absolute;
      bottom: 0;

      &__apply {
        display: flex;
      }
    }
  }

  // homepage-testimonial
  &--testimonial {
    background-color: $color-white;
    .oval-quotation {
      font-size: 60px;
      border: 1px solid rgba(255, 203, 132, 0.4);
    }
    figure {
      margin: 0;
    }
    blockquote {
      color: $color-black;
    }
    &__aside {
      color: $color-mountainmist;
      span {
        color: $color-shipgray;
      }
    }
  }

  // homepage-clients
  &--clients {
    text-align: center;

    border: none;

    img {
      height: auto;
      margin: 0 auto;
    }
    p {
      color: $color-midgray;
      padding-top: 29px;
      margin: 0;
    }
  }

  // search-jobsOne- srjOne-result
  &--srOne {
    border: 1px solid rgba(232, 231, 232, 0.5);

    ul,
    p {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    .card__topper {
      img {
        width: 32px;
        height: 32px;
      }

      .card__time {
        margin-left: auto;
      }
    }

    .card__text {
      line-height: 24px;
    }

    .card__descriptor {
      border-top: 1px solid $color-bonjour;
    }
  }

  // search-employeers-search-employeers-result
  &--employee {
    border: 1px solid rgba(232, 231, 232, 0.5);

    .card__topper {
      img {
        header + aside {
          display: block;
          margin-left: auto;
        }
      }

      .card__topper-right {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        text-align: right;
        .card__review {
          margin-left: auto;
          span {
            display: block;
          }
        }
      }
    }
    .card__description {
      border-bottom: 1px solid $color-bonjour;
    }
  }

  // search-jobsTwo - srjTwo-job-details
  &--srjTwo {
    border: 1px solid rgba(232, 231, 232, 0.5);

    .card__descriptor {
      ul {
        margin: 0;
      }
    }
    .card__description {
      display: flex;
      border-bottom: 1px solid $color-bonjour;
    }
    .card__body {
      padding-bottom: 32px;
    }
    .card__bottom {
      border-top: 1px solid $color-bonjour;
    }
  }

  // company - company-employeer-information
  &--company {
    padding: 24px 30px 30px 30px;
    .card__topper {
      img {
        width: 72px;
        height: 72px;
      }
      .card__topper-left {
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        margin: auto 0 auto 0;
      }
      .card__topper-right {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        text-align: right;
        .card__review,
        span {
          display: block;
        }
      }
      border-bottom: 1px solid $color-bonjour;
    }
    .card__description__icons {
      padding-top: 32px;
      span {
        display: flex;
        i {
          padding-right: 6px;
        }
      }
      span:nth-child(even) {
        padding-left: 20px;
      }
      .card__description__item {
        padding-bottom: 24px;
      }
    }
    .card__description__text {
      .card__descriptor {
        font-weight: $bold;
        padding-bottom: 14px;
      }
      p:nth-last-child(1) {
        margin: 0;
      }
    }
  }

  // company - company-job-boards
  &--boards {
    padding: 24px 0;
    border-bottom: 1px solid $color-bonjour;
    .card__topper {
      display: flex;
      span {
        margin-left: auto;
      }
      img {
        width: 24px;
        height: 24px;
      }
      .card__company-name {
        margin: auto 0 auto 0;
      }
    }
    .card__body {
      .card__title {
        padding: 16px 0;
      }
    }
    .card__description {
      display: flex;
      span {
        padding-right: 24px;
        i {
          padding-right: 7px;
        }
      }
      .card__time {
        margin-left: auto;
      }
    }
  }

  // company - company-reviews-cards
  &--reviews {
    padding: 24px 0 34px 0;
    .card__topper {
      display: flex;
      .card__user {
        padding-left: 12px;
        .card__ratings {
          i {
            font-size: 10px;
          }
          i:nth-last-child(1) {
            font-size: 16px;
          }
        }
      }
      .card__time {
        margin-left: auto;
      }
    }
    .card__recommendation {
      display: flex;
      padding-left: 60px;
      .btn_def {
        padding-right: 8px;
        i {
          padding: 0 4px;
        }
      }
    }
    .card__body {
      padding: 14px 23px 16px 65px;
      .card__comment {
        padding-bottom: 9px;
      }
      .card__text {
        margin: 0;
      }
    }
    .card__bottom {
      display: flex;
      padding: 0px 23px 0 65px;
      i {
        padding: 0 8px;
      }
      .report {
        margin: auto 0;
      }
      .share {
        margin: auto 0 auto auto;
        padding: 0 32px;
      }
    }
  }
  &--benefits {
    header {
      padding: 0 0 4px 0;
      color: $color-shipgray;
    }
    i {
      padding: 1px 8px 0 1px;
      color: $color-chateaugreen;
    }
    p {
      padding: 0 10px 0 24px;
      color: $color-mountainmist;
    }
  }
  &--daily:hover,
  &--srOne:hover,
  &--employee:hover,
  &--boards:hover {
    .card__title,
    .card__header {
      color: $color-coral;
    }
  }

  // card coloring

  &__company-name,
  &__title,
  &__header {
    transition-property: color;
    transition-duration: 00.3s;
    color: $color-shipgray;
    text-decoration: none !important;
  }
  &__time {
    color: $color-spunpearl;
  }
  &__description {
    color: $color-midgray;
  }
  &__bottom {
    p {
      color: $color-shipgray;
    }
    a {
      color: $color-blazeorange;
    }
  }
  &__header {
    color: $color-shipgray;
  }
  &__review {
    color: $color-coral;
    span {
      color: $color-mountainmist;
    }
  }
  &__descriptor {
    color: $color-black;
  }
  &__social {
    a {
      color: $color-midgray;
      text-decoration: none;
    }
  }
  &__text {
    color: $color-shipgray;
  }
  &__name {
    color: $color-shipgray;
  }
  &__comment {
    color: $color-shipgray;
  }
  &__ratings {
    display: flex;
    color: $color-mountainmist;

    span {
      color: $color-manatee;

      padding-left: 5px;
      order: 0;
    }
    img {
      display: inline;
      float: left;
      padding: 5px 0 0 1px;
      order: -1;
    }
  }

  // card-image-shadow
  &__image {
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .card {
    &--daily {
      min-width: 290px;
      min-height: 226px;
      margin-bottom: 10px;
      .card__topper {
        padding: 20px 28px 10px 20px;

        .card__company-name {
          margin-right: auto;
          padding: 0 11px;
        }
        .card__time {
          display: flex;
          justify-content: flex-end;
          padding-top: 2px;
        }
      }
      .card__body {
        padding: 7px 12px 0 20px;
      }
      .card__description {
        padding: 0 0 24px 18px;
        span {
          padding-right: 24px;
        }
        i {
          padding-right: 6px;
        }
      }
    }

    &--testimonial {
      min-width: 300px;
      min-height: 354px;
      padding: 16px 24px 0 24px;
      blockquote {
        text-align: center;
        padding: 20px 0 0 0;
      }
      &__aside {
        text-align: center;
      }
      .quote {
        display: grid;
        place-items: center;
      }
    }

    &--clients {
      width: 98%;
      padding: 20px 18px;
      img {
        margin: 0 auto;
      }
      p {
        color: $color-midgray;
        padding-top: 29px;
        margin: 0;
      }
    }

    &--srOne {
      padding: 15px;
      .card__topper {
        padding-bottom: 10px;
        .card__company-name {
          margin: auto 0;
          padding-left: 10px;
        }
      }

      .card__description {
        padding: 21px 0 18px 0;
        span:first-child {
          display: flex;
          padding-bottom: 8px;
          margin-right: 10px;
        }
        span:last-child {
          padding-left: 14px;
        }
        i {
          font-size: 20px;
          padding-right: 7px;
        }
      }
      .card__bottom {
        .card__descriptor {
          padding: 18px 0 12px 0;
        }
      }
    }

    &--employee {
      padding: 12px 15px 34px 15px;
      margin-bottom: 20px;
      .card__topper {
        .card__image {
          width: 28px;
          height: 28px;
          margin-top: 3px;
        }

        .card__company-name {
          white-space: nowrap;
        }
        &-left {
          padding-left: 12px;
        }
        &-right {
          .card__review {
            padding-left: 17px;
          }
        }
      }

      .card__description {
        padding: 24px 0 4px 0;

        span {
          display: inline-block;
          padding: 0 0 11px 0;
        }

        i {
          display: inline-block;
          padding-right: 3px;
          font-size: 19px;
        }
      }

      .card__descriptor {
        padding: 18px 0 12px 0;
      }

      .card__text {
        text-align: left;
      }
    }
  }
  // bigger-card (spotify)
  .bigger-card {
    min-height: 390px;

    .card__body {
      padding: 0 21px 0 20px;
    }
    .card__description {
      padding: 0;
      span {
        padding: 0 16px 0 0;
      }
    }

    .card__bottom {
      padding: 22px 0 20px 20px;
      &__apply {
        span > img {
          padding-left: 10px;
        }
      }
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
  .card {
    &--testimonial {
      min-width: 300px;
      min-height: 354px;
      padding: 36px;
      blockquote {
        padding: 12px 10px;
        margin: 0;
        text-align: left;
      }

      &__aside {
        padding: 20px 10px;
        text-align: left;
      }
      .quote {
        display: grid;
        place-items: start;
      }
    }
    &--clients {
      // width: 75%;
      min-height: 160px;
    }
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .card {
    &--testimonial {
      max-width: 626px;
      min-height: 372px;
      padding: 27px 30px 8px 36px;
      blockquote {
        margin-top: 12px;
        padding-left: 0;
      }

      &__aside {
        padding: 30px 0 0 0;
      }
    }

    &--clients {
      min-width: 263px;
      min-height: 227px;
      padding: 44px 34px;
    }

    &--srOne {
      margin-bottom: 24px;
      padding: 23px 32px 20px 31px;

      ul,
      p {
        padding: 0 0 0 2px;
        margin: 0;
        list-style-type: none;
      }
      .card__topper {
        padding-bottom: 16px;
        img {
          width: 32px;
          height: 32px;
        }
        .card__company-name {
          margin: auto 0 auto 0;
          padding: 0 0 3px 12px;
        }
        .card__time {
          margin-left: auto;
        }
      }

      header {
        padding: 1px 20px 0 0;
      }

      .card__text {
        line-height: 24px;
        text-indent: 3px;
      }
      .card__description {
        display: flex;

        padding-top: 14px;
        i {
          padding-right: 6px;
          font-size: 20px;
        }
        span {
          display: flex;

          height: 100%;
          padding-right: 24px;
        }
        padding-bottom: 16px;
      }
      .card__descriptor {
        padding: 15px 0 13px 0;
        border-top: 1px solid $color-bonjour;
      }
    }

    &--employee {
      padding: 24px 24px 20px 32px;
      margin-bottom: 20px;
      .card__topper {
        .card__image {
          width: 32px;
          height: 32px;
        }

        &-left {
          padding-left: 10px;
        }
        &-right {
          .card__review {
            padding-left: 17px;
          }
        }
      }

      .card__description {
        padding-top: 9px;

        span {
          display: inline-block;
          padding: 0 24px 11px 0;
        }

        i {
          display: inline-block;
          padding-right: 7px;
          font-size: 19px;
        }
      }

      .card__descriptor {
        padding: 8px 0 12px 0;
      }

      .card__text {
        text-align: left;
      }
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .card {
    &--daily {
      min-width: 360px;
      min-height: 226px;
      margin-bottom: 30px;

      .card__topper {
        display: flex;
        padding: 21px 23px 16px 23px;
        .card__image {
          margin-top: 2px;
        }
        .card__time {
          padding-top: 2px;
        }
      }

      .card__body {
        padding: 1px 35px 0 23px;
      }

      .card__description {
        padding: 0;
        span {
          padding: 0 23px 1px 0;
        }
        i {
          padding-right: 4px;
        }
      }

      .card__bottom {
        padding: 24px 20px 22px 24px;

        &__apply {
          p {
            p {
              padding: 0 5px 0 2px;
              margin-bottom: -5px;
            }
          }
        }
      }
    }

    &--testimonial {
      min-width: 520px;
      min-height: 522px;
      padding: 37px 56px 50px 56px;
    }

    &--clients {
      min-width: 0;
      min-height: 0;
      padding: 12px;
    }

    &--employee {
      padding: 21px 30px 18px 30px;
      .card__topper {
        .card__image {
          width: 48px;
          height: 48px;
          margin-top: 2px;
          header + aside {
            display: block;
            margin-left: auto;
          }
        }
        .card__topper-left {
          padding-left: 16px;
          .card__company-name {
            padding-top: 3px;
          }
        }
        .card__topper-right {
          display: flex;
          flex-direction: row;
          margin-left: auto;
          padding-bottom: 4px;
          text-align: right;
          .card__review {
            margin-left: auto;
            padding-left: 32px;
            span {
              display: block;
            }
          }
        }
      }
      .card__description {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 22px 0 16px 0;
        border-bottom: 1px solid $color-bonjour;
        span {
          display: flex;
          align-items: center;
          height: 100%;
          padding-right: 24px;

          i {
            font-size: $font-20;
            padding-right: 6px;
          }
        }
      }
      .card__bottom {
        padding-right: 12px;
      }
      .card__descriptor {
        padding: 15px 0 13px 0;
      }
    }

    &--srjTwo {
      padding: 24px 0 32px 30px;
      .card__topper {
        display: flex;
        align-items: center;
        padding-right: 23px;
        .card__image {
          padding-top: 1px;
        }
        .card__company-name {
          padding: 0 11px 0 12px;
          margin-bottom: 2px;
        }
        .card__ratings {
          width: 100%;
          margin-top: 1px;
        }
        .card__social {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          margin-top: -12px;

          a {
            display: flex;
            align-items: center;
            padding: 0 16px;
            i {
              font-size: 16px;
              padding-right: 7px;
            }
          }
        }
      }
      header {
        h4 {
          padding-top: 17px;
        }
      }
      .card__description {
        padding: 6px 0 24px 0;
        span {
          display: flex;
          align-items: center;
          padding-right: 24px;
        }
        i {
          font-size: 20px;
          padding-right: 6px;
        }
        .card__time {
          margin-left: auto;
          padding-right: 38px;
        }
      }
      .card__body {
        padding: 0 44px 32px 0;

        .card__descriptor {
          padding: 27px 0 12px 0;
        }

        .descriptor-top {
          padding: 21px 0 12px 0;
        }

        ul {
          padding: 0;
          padding-left: 16px;
        }
        p {
          margin: 0;
        }
      }

      .card__bottom {
        padding-top: 30px;
        .card__video {
          padding: 40px 0 0 44px;
        }

        br + .card__text {
          margin-top: -10px;
        }
      }
    }
  }

  // bigger-card (spotify)
  .bigger-card {
    min-height: 408px;
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  .card {
    &--clients {
      padding: 44px 36px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
