// cards

.card {
  // homepage-daily-job-board
  &--daily {
    border: 1px solid rgba($color-bonjour, 0.5);

    .card__topper {
      display: flex;
      align-items: center;

      .card__company-name {
        margin-right: auto;
        padding: 0 11px;
      }
      .card__time {
        display: flex;
        justify-content: flex-end;
      }
    }

    .card__description {
      display: flex;

      i {
        align-items: center;
        font-size: $font-20;
      }
    }

    .card__bottom {
      display: flex;
      position: absolute;
      bottom: 0;

      &__apply {
        display: flex;
      }
    }
  }

  // homepage-testimonial
  &--testimonial {
    background-color: $color-white;
    .oval-quotation {
      font-size: 60px;
      border: 1px solid rgba(255, 203, 132, 0.4);
    }
    figure {
      margin: 0;
    }
    blockquote {
      color: $color-black;
    }
    &__aside {
      color: $color-mountainmist;
      span {
        color: $color-shipgray;
      }
    }
  }

  // homepage-clients
  &--clients {
    text-align: center;

    border: none;

    img {
      height: auto;
      margin: 0 auto;
    }
    p {
      color: $color-midgray;
      padding-top: 29px;
      margin: 0;
    }
  }

  // search-jobsOne- srjOne-result
  &--srOne {
    border: 1px solid rgba($color-bonjour, 0.5);

    ul,
    p {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    .card__topper {
      img {
        width: 32px;
        height: 32px;
      }

      .card__time {
        margin-left: auto;
      }
    }

    .card__text {
      line-height: 24px;
    }

    .card__descriptor {
      border-top: 1px solid $color-bonjour;
    }
  }

  // search-employeers-search-employeers-result
  &--employee {
    border: 1px solid rgba($color-bonjour, 0.5);

    .card__topper {
      img {
        header + aside {
          display: block;
          margin-left: auto;
        }
      }

      .card__topper-right {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        text-align: right;
        .card__review {
          margin-left: auto;
          span {
            display: block;
          }
        }
      }
    }
    .card__description {
      border-bottom: 1px solid $color-bonjour;
    }
  }

  // search-jobsTwo - srjTwo-job-details
  &--srjTwo {
    border: 1px solid rgba($color-bonjour, 0.5);

    .card__descriptor {
      ul {
        margin: 0;
      }
    }
    .card__description {
      display: flex;
      border-bottom: 1px solid $color-bonjour;
    }

    .card__bottom {
      border-top: 1px solid $color-bonjour;
    }
  }

  // company - company-employeer-information
  &--company {
    border: 1px solid rgba($color-bonjour, 0.5);
    .card__topper {
      border-bottom: 1px solid $color-bonjour;
    }

    .card__description__item {
      i {
        font-size: 20px;
      }
    }
  }

  // company - company-job-boards
  &--boards {
    border-bottom: 1px solid $color-bonjour;
    .card__topper {
      display: flex;
    }

    .card__description {
      display: flex;
    }
  }

  // company - company-reviews-cards
  &--reviews {
    border-bottom: 1px solid $color-bonjour;
    .card__topper {
      display: flex;

      .card__user {
        .card__ratings {
          button {
            padding: 0;
          }
        }
      }
    }
    .card__recommendation {
      display: flex;
    }

    .card__bottom {
      display: flex;
      .card__social,
      i {
        font-size: 16px;
      }
    }
  }

  // company - company-benefits-cards
  &--benefits {
    header {
      padding: 0 0 4px 0;
      color: $color-shipgray;
    }
    i {
      padding: 1px 8px 0 1px;
      color: $color-chateaugreen;
    }
    p {
      padding: 0 10px 0 24px;
      color: $color-mountainmist;
    }
  }

  // pricing - pricing-card
  &--pricing {
    .pricing__prices {
      .pricing__old-price {
      }

      .pricing__price {
      }

      .pricing_-text {
      }
    }

    .pricing__traits {
      &__option {
      }

      &__option--marked {
      }
    }

    .pricing__options {
    }

    .pricing__button {
    }
  }

  &--daily:hover,
  &--srOne:hover,
  &--employee:hover,
  &--boards:hover {
    .card__title,
    .card__header {
      color: $color-coral;
    }
  }

  // card coloring

  &__company-name,
  &__title,
  &__header {
    transition-property: color;
    transition-duration: 00.3s;
    color: $color-shipgray;
    text-decoration: none !important;
  }

  &__time {
    color: $color-spunpearl;
  }

  &__description {
    color: $color-midgray;
  }

  &__bottom {
    p {
      color: $color-shipgray;
    }
  }

  &__header {
    color: $color-shipgray;
  }

  &__review {
    color: $color-coral;
    span {
      color: $color-mountainmist;
    }
  }

  &__descriptor {
    color: $color-black;
  }

  &__social {
    .report span {
      color: $color-mountainmist;
    }

    .share {
      color: $color-midgray;
      text-decoration: none;
    }
  }

  &__text {
    color: $color-shipgray;
  }

  &__name {
    color: $color-shipgray;
  }

  &__comment {
    color: $color-shipgray;
  }

  &__ratings {
    display: flex;
    color: $color-mountainmist;

    span {
      color: $color-manatee;

      padding-left: 5px;
      order: 0;
    }
    img {
      display: inline;
      float: left;
      padding: 5px 0 0 1px;
      order: -1;
    }
  }

  &__description__item {
    &__top {
      color: $color-shipgray;
    }
    &__bottom {
      color: $color-midgray;
    }
  }

  &__position {
    color: $color-manatee;
  }

  // card-image-shadow
  &__image {
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
  }
}

// * responsive

//  Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .card {
    &--daily {
      min-width: 290px;
      min-height: 226px;
      margin-bottom: 10px;
      .card__topper {
        padding: 20px 28px 10px 20px;

        .card__company-name {
          margin-right: auto;
          padding: 0 11px;
        }
        .card__time {
          display: flex;
          justify-content: flex-end;
          padding-top: 2px;
        }
      }
      .card__body {
        padding: 7px 12px 0 20px;
      }
      .card__description {
        padding: 0 0 24px 18px;
        span {
          padding-right: 24px;
        }
        i {
          padding-right: 6px;
        }
      }
    }

    &--testimonial {
      min-width: 300px;
      min-height: 354px;
      padding: 16px 24px 0 24px;
      blockquote {
        text-align: center;
        padding: 20px 0 0 0;
      }
      &__aside {
        text-align: center;
      }
      .quote {
        display: grid;
        place-items: center;
      }
    }

    &--clients {
      width: 98%;
      padding: 20px 18px;
      img {
        margin: 0 auto;
      }
      p {
        color: $color-midgray;
        padding-top: 29px;
        margin: 0;
      }
    }

    &--srOne {
      padding: 15px;
      .card__topper {
        padding-bottom: 10px;
        .card__company-name {
          margin: auto 0;
          padding-left: 10px;
        }
      }

      .card__description {
        padding: 21px 0 18px 0;
        span:first-child {
          display: flex;
          padding-bottom: 8px;
          margin-right: 10px;
        }
        span:last-child {
          padding-left: 14px;
        }
        i {
          font-size: 20px;
          padding-right: 7px;
        }
      }
      .card__bottom {
        .card__descriptor {
          padding: 18px 0 12px 0;
        }
      }
    }

    &--employee {
      padding: 12px 15px 34px 15px;
      margin-bottom: 20px;
      .card__topper {
        .card__image {
          width: 28px;
          height: 28px;
          margin-top: 3px;
        }

        .card__company-name {
          white-space: nowrap;
        }
        &-left {
          padding-left: 12px;
        }
        &-right {
          .card__review {
            padding-left: 17px;
          }
        }
      }

      .card__description {
        padding: 24px 0 4px 0;

        span {
          display: inline-block;
          padding: 0 0 11px 0;
        }

        i {
          display: inline-block;
          padding-right: 3px;
          font-size: 19px;
        }
      }

      .card__descriptor {
        padding: 18px 0 12px 0;
      }

      .card__text {
        text-align: left;
      }
    }

    &--srjTwo {
      padding: 13px 15px 24px 15px;
      .card__topper {
        display: flex;
        align-items: center;
        width: 100%;
        .card__image {
          margin-right: 12px;
        }

        .card__social {
          display: flex;
          margin-left: auto;

          a {
            display: flex;
            align-items: center;

            i {
              font-size: 16px;
              padding: 0 7px;
            }
          }
        }
      }
      header {
        h4 {
          padding: 16px 0;
        }
      }
      .card__description {
        @include card-description-grid;
        span {
          display: flex;
          align-items: center;
          padding-right: 2px;
        }

        i {
          font-size: 19px;
          padding-right: 4px;
        }

        .card__time {
          width: 100%;
          padding: 14px 0;
        }
      }
      .card__body {
        padding-bottom: 20px;
        .card__descriptor {
          padding: 20px 0 10px 0;
        }

        ul {
          padding: 0 10px;
        }
        p {
          padding-bottom: 6px;
        }
      }

      .card__bottom {
        article > .card__descriptor {
          padding: 18px 0 16px 0;
        }
        .card__video__section {
          margin-top: 16px;
          .card__video-sm {
            position: relative;
            padding-bottom: 56.25%; /*16:9*/
            height: 0;
            overflow: hidden;
            display: grid;

            .sm {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    &--company {
      padding: 10px 24px 20px 15px;
      border-bottom: 1px solid $color-bonjour;
      .card__topper {
        padding-bottom: 8px;
        .card__image {
          width: 36px;
          height: 36px;
          margin-top: 5px;
        }
        .card__topper-left {
          padding-left: 10px;
        }
        .card__topper-right {
          margin-left: auto;
          display: flex;
          flex-direction: row;
          text-align: right;

          .card__review,
          span {
            display: block;
          }

          .card__review:first-child {
            padding-right: 14px;
          }
        }
      }
      .card__description__icons {
        padding-top: 13px;
        span {
          display: flex;
          i {
            padding-right: 8px;
          }
        }
        span:nth-child(even) {
          padding-left: 27px;
        }
        .card__description__item {
          display: flex;
          flex-direction: column;
          align-content: center;
          padding-bottom: 16px;
        }
      }
      .card__description__text {
        .card__descriptor {
          padding-bottom: 14px;
        }
        p:nth-last-child(1) {
          margin: 0;
        }
      }
    }

    &--boards {
      margin-top: 15px;
      padding: 15px;
      .card__topper {
        display: flex;
        height: 100%;
        align-items: center;
        padding-bottom: 4px;
        .card__image {
          width: 20px;
          height: 20px;
        }
        .card__company-name {
          padding: 2px 0 0 8px;
        }
        .card__time {
          margin-left: auto;
          padding-right: 10px;
        }
      }

      .card__body {
        .card__title {
          padding: 12px 0;
        }
      }

      .card__description {
        @include card-description-grid;

        span {
          display: flex;
          align-items: center;
          padding-right: 2px;
        }

        span:last-of-type {
          margin-left: -22px;
        }

        i {
          font-size: 19px;
          padding-right: 4px;
        }

        .card__time {
          width: 100%;
          padding: 14px 0;
        }
      }
    }

    &--reviews {
      padding: 25px 0 20px 0;
      .card__topper {
        display: flex;

        .card__image {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }

        .card__user {
          width: 100%;
          padding-left: 10px;

          .card__ratings {
            display: flex;

            .card__time {
              margin-left: auto;
              margin-top: -11px;
            }
          }
        }
      }

      // this class is only visible on small breakpoints
      .card__position {
        padding: 10px 0 13px 0;
      }

      // three recommendation buttons placement
      .three-badge {
        display: grid;
        width: 100%;

        div:last-child {
          grid-column-start: 1;
          grid-column-end: 3;
          width: 50%;
        }
      }

      // recommendation buttons block position
      .block-buttons {
        display: flex;
        flex-direction: row;
      }

      .card__body {
        .card__comment {
          padding: 7px 0 4px 0;
        }
        .card__text {
          margin: 0;
        }
      }

      .card__bottom {
        padding-top: 17px;
        .card__social {
          display: flex;
          align-items: center;
          width: 100%;

          .left {
            a span {
              display: none;
              display: flex;
              align-content: center;
              padding-top: 2px;
            }

            i {
              padding: 0 4px 0 0;
            }

            .report {
              margin-right: auto;
            }
          }

          .right {
            display: flex;
            align-items: center;
            margin-left: auto;

            .share {
              margin-right: 12px;
              i {
                font-size: 16px;
                margin-right: 8px;
              }
            }

            .btn__helpful {
              float: right;
            }
          }
        }
      }
    }

    &--benefits {
      padding: 0 15px 0 15px;

      img {
        margin-right: 6px;
      }

      p {
        margin: 0 0 18px 2px;
      }
    }

    &--pricing {
      padding: 15px 15px 20px 15px;
      margin: 9px 0;
      border: 1px solid rgba($color-bonjour, 0.5);
      text-align: center;

      .pricing__prices {
        .pricing__price {
          padding: 2px 0 12px 0;
        }

        .pricing__texts {
          display: flex;
          justify-content: center;
          .pricing__text {
            padding: 0 2px;
          }
        }
      }

      .pricing__traits {
        padding: 16px 0 11px 0;

        &__option,
        &__option--marked {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2px 0 11px 0;

          img {
            padding-right: 4px;
          }
        }
      }

      .pricing__options {
        // first item have a more space on bottom

        .pricing__option {
          &:first-child {
            padding-bottom: 17px;
          }

          &:not(:first-child) {
            padding: 11px 0 10px 0;
            border-bottom: 1px solid $color-bonjour;
          }
        }
      }
    }
  }

  // bigger-card (spotify)
  .bigger-card {
    min-height: 390px;

    .card__body {
      padding: 0 21px 0 20px;
    }
    .card__description {
      padding: 0;
      span {
        padding: 0 16px 0 0;
      }
    }

    .card__bottom {
      padding: 22px 0 20px 20px;
      &__apply {
        span > img {
          padding-left: 10px;
        }
      }
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
  .card {
    &--testimonial {
      min-width: 300px;
      min-height: 354px;
      padding: 36px;
      blockquote {
        padding: 12px 10px;
        margin: 0;
        text-align: left;
      }

      &__aside {
        padding: 20px 10px;
        text-align: left;
      }
      .quote {
        display: grid;
        place-items: start;
      }
    }

    &--clients {
      // width: 75%;
      min-height: 160px;
    }

    &--boards {
      .card__description {
        display: flex;
        align-items: center;
        padding-bottom: 6px;

        span {
          display: flex;
          align-items: center;
          padding-right: 22px;
        }

        span:first-of-type {
          padding-bottom: 0;
        }

        span:last-of-type {
          padding-left: 22px;
        }

        i {
          font-size: 19px;
          padding-right: 4px;
        }
      }
    }

    &--reviews {
      .card__topper {
        .card__image {
          width: 48px;
          height: 48px;
        }
      }

      .card__recommendation {
        flex-direction: row;
      }

      .card__bottom {
        .card__social {
          .left {
            i {
              padding: 1px 4px 0 0;
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .card {
    &--testimonial {
      max-width: 626px;
      min-height: 372px;
      padding: 27px 30px 8px 36px;
      blockquote {
        margin-top: 12px;
        padding-left: 0;
      }

      &__aside {
        padding: 30px 0 0 0;
      }
    }

    &--clients {
      min-width: 263px;
      min-height: 227px;
      padding: 44px 34px;
    }

    &--srOne {
      margin-bottom: 24px;
      padding: 23px 32px 20px 31px;

      ul,
      p {
        padding: 0 0 0 2px;
        margin: 0;
        list-style-type: none;
      }
      .card__topper {
        padding-bottom: 16px;
        img {
          width: 32px;
          height: 32px;
        }
        .card__company-name {
          margin: auto 0 auto 0;
          padding: 0 0 3px 12px;
        }
        .card__time {
          margin-left: auto;
        }
      }

      header {
        padding: 1px 20px 0 0;
      }

      .card__text {
        line-height: 24px;
        text-indent: 3px;
      }
      .card__description {
        display: flex;

        padding-top: 14px;
        i {
          padding-right: 6px;
          font-size: 20px;
        }
        span {
          display: flex;

          height: 100%;
          padding-right: 24px;
        }
        padding-bottom: 16px;
      }
      .card__descriptor {
        padding: 15px 0 13px 0;
        border-top: 1px solid $color-bonjour;
      }
    }

    &--employee {
      padding: 24px 24px 20px 32px;
      margin-bottom: 20px;
      .card__topper {
        .card__image {
          width: 32px;
          height: 32px;
        }

        &-left {
          padding-left: 10px;
        }
        &-right {
          .card__review {
            padding-left: 17px;
          }
        }
      }

      .card__description {
        padding-top: 9px;

        span {
          display: inline-block;
          padding: 0 24px 11px 0;
        }

        i {
          display: inline-block;
          padding-right: 7px;
          font-size: 19px;
        }
      }

      .card__descriptor {
        padding: 8px 0 12px 0;
      }

      .card__text {
        text-align: left;
      }
    }

    &--srjTwo {
      padding: 24px 0 32px 30px;
      .card__topper {
        display: flex;
        align-items: center;
        padding-right: 17px;
        .card__image {
          margin: 0;
          padding: 0;
        }

        .card__name-rating {
          display: flex;
          width: 100%;
        }

        .card__company-name {
          padding: 0 11px 0 12px;
          margin-bottom: 2px;
        }
        .card__ratings {
          width: 100%;
          margin-top: 1px;
        }
        .card__social {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          margin-top: -12px;

          a {
            display: flex;
            align-items: center;
            padding: 0 16px;
            i {
              font-size: 16px;
              padding-right: 7px;
            }
          }
        }
      }
      header {
        h4 {
          margin: 0;
          padding: 16px 0 14px 0;
        }
      }
      .card__description {
        display: flex;
        flex-direction: row;
        padding-bottom: 7px;
        span {
          display: flex;
          align-items: center;
          padding-right: 24px;
        }
        i {
          font-size: 20px;
          padding-right: 7px;
        }
        .card__time {
          width: auto;
          margin-left: auto;
          padding-right: 32px;
        }
      }
      .card__body {
        padding: 0 44px 32px 0;

        .card__descriptor {
          padding: 27px 0 12px 0;
        }

        .descriptor-top {
          padding: 21px 0 12px 0;
        }

        ul {
          padding: 0 0 0 16px;
        }
        p {
          margin: 0;
        }
      }

      .card__bottom {
        padding-top: 7px;

        .card__text {
          padding: 8px 30px 0 0;
        }

        .card__video-md {
          padding: 40px 0 0 16px;
        }

        br + .card__text {
          margin-top: -6px;
        }
      }
    }

    &--company {
      padding: 20px 30px 30px 30px;
      .card__topper {
        padding: 0;

        .card__image {
          margin: 0;
          width: 64px;
          height: 64px;
        }
        .card__topper-left {
          padding-left: 12px;
          display: flex;
          flex-direction: column;
          margin: auto 0 auto 0;
        }
        .card__topper-right {
          margin-left: auto;
          display: flex;
          flex-direction: row;
          text-align: right;
          padding: 14px 2px 0 0;

          .card__review:first-child {
            padding-right: 22px;
          }

          .card__review,
          span {
            display: block;
          }
        }
        border-bottom: 1px solid $color-bonjour;
      }
      .card__description__icons {
        padding-top: 32px;
        span {
          display: flex;
          i {
            padding-right: 6px;
          }
        }
        span:nth-child(even) {
          padding-left: 25px;
        }
        .card__description__item {
          padding-bottom: 24px;

          &__top {
            padding-bottom: 3px;
          }
        }
      }
      .card__description__text {
        padding-right: 50px;
        .card__descriptor {
          padding-bottom: 12px;
        }
        p:nth-last-child(1) {
          margin: 0;
        }
      }
    }

    &--boards {
      padding: 22px 0 8px 0;
      margin: 0;
      .card__topper {
        padding-bottom: 4px;
        .card__image {
          width: 24px;
          height: 24px;
        }

        .card__company-name {
          padding: 2px 0 0 12px;
        }

        span {
          margin: 0 18px 0 auto;
        }
      }

      .card__body {
        .card__title {
          padding: 8;
        }
      }

      .card__description {
        padding: 0;
        span {
          width: 100%;
          padding: 0;
        }

        span:last-of-type {
          margin-left: -60px;
        }

        i {
          padding-right: 6px;
        }

        .card__time {
          text-align: right;
          width: 50%;
          padding-right: 20px;
        }
      }
    }

    &--reviews {
      padding: 24px 0;
      border-bottom: 1px solid $color-bonjour;
      .card__topper {
        display: flex;
        .card__user {
          .card__ratings {
            line-height: 34px;

            .card__time {
              margin: -22px 0 0 auto;
            }
          }
        }

        .card__position {
          padding-left: 12px;
        }
      }

      .card__recommendation {
        display: flex;
        flex-direction: row;

        padding-left: 60px;
        .btn_def {
          padding-right: 8px;
          i {
            padding: 0 4px;
          }
        }
      }

      // three recommendation buttons placement
      .three-badge {
        display: flex;
        flex-direction: row;
        padding: 4px 0 0 60px;

        div:last-child {
          grid-column-start: 1;
          grid-column-end: 1;
          width: 26%;
        }
      }

      .card__body {
        padding: 0 30px 0 60px;

        .card__comment {
          padding: 12px 0 6px 0;
        }
        .card__text {
          margin: 0;
        }
      }

      .card__bottom {
        padding: 18px 23px 0 50px;

        .report {
          margin: auto 0;
        }

        .share {
          margin: auto 0 auto auto;
          padding: 0 32px;
        }
      }
    }

    &--benefits {
      padding: 5px 15px 23px 15px;

      &__top {
        header {
          padding-bottom: 8px;
        }

        p {
          margin: 0;
        }
      }

      p {
        margin: 0;
      }
    }

    &--pricing {
      padding: 22px 0 18px 0;
      // margin: 9px 0;
      border: none;

      .pricing__prices {
        .pricing__price {
          padding: 3px 0 11px 0;
        }

        .pricing__texts {
          flex-direction: column;
          .pricing__text {
            padding: 0;
          }
        }
      }

      .pricing__traits {
        padding: 16px 0 11px 0;

        &__option,
        &__option--marked {
          white-space: nowrap;
          padding: 2px 0 11px 0;

          img {
            padding-right: 6px;
          }
        }
      }

      .pricing__options {
        padding-top: 11px;

        .pricing__option {
          &:first-child {
            padding-bottom: 55px;
          }

          &:not(:first-child) {
            padding: 13px 0 16px 0;
          }

          img {
            margin-top: -5px;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .card {
    &--daily {
      min-width: 360px;
      min-height: 226px;
      margin-bottom: 30px;

      .card__topper {
        display: flex;
        padding: 21px 23px 16px 23px;
        .card__image {
          margin-top: 2px;
        }
        .card__time {
          padding-top: 2px;
        }
      }

      .card__body {
        padding: 1px 35px 0 23px;
      }

      .card__description {
        padding: 0;
        span {
          padding: 0 23px 1px 0;
        }
        i {
          padding-right: 4px;
        }
      }

      .card__bottom {
        padding: 24px 20px 22px 24px;

        &__apply {
          p {
            p {
              padding: 0 5px 0 2px;
              margin-bottom: -5px;
            }
          }
        }
      }
    }

    &--testimonial {
      min-width: 520px;
      min-height: 522px;
      padding: 37px 56px 50px 56px;
    }

    &--clients {
      min-width: 0;
      min-height: 0;
      padding: 12px;
    }

    &--employee {
      padding: 21px 30px 18px 30px;
      .card__topper {
        .card__image {
          width: 48px;
          height: 48px;
          margin-top: 2px;
          header + aside {
            display: block;
            margin-left: auto;
          }
        }
        .card__topper-left {
          padding-left: 16px;
          .card__company-name {
            padding-top: 3px;
          }
        }
        .card__topper-right {
          display: flex;
          flex-direction: row;
          margin-left: auto;
          padding-bottom: 4px;
          text-align: right;
          .card__review {
            margin-left: auto;
            padding-left: 32px;
            span {
              display: block;
            }
          }
        }
      }
      .card__description {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 22px 0 16px 0;
        border-bottom: 1px solid $color-bonjour;
        span {
          display: flex;
          align-items: center;
          height: 100%;
          padding-right: 24px;

          i {
            font-size: $font-20;
            padding-right: 6px;
          }
        }
      }
      .card__bottom {
        padding-right: 12px;
      }
      .card__descriptor {
        padding: 15px 0 13px 0;
      }
    }

    &--srjTwo {
      padding: 24px 0 0 32px;
      header h4 {
        padding: 18px 0 12px 0;
      }

      .card__body {
        padding: 0 39px 24px 0;

        p {
          padding: 0 0 1px 0;
        }
      }

      .card__description {
        display: flex;
        padding: 0 0 22px 0;

        span {
          display: flex;
        }

        .card__time {
          padding: 6px 32px 0 0;
          justify-content: flex-end;
        }
      }

      .card__bottom {
        padding: 0 0 32px 0;

        article > .card__descriptor {
          padding-bottom: 18px;
        }

        .card__text {
          padding: 0 40px 12px 0;
        }

        .card__video-lg {
          padding: 6px 36px 0 0;
          float: right;
        }
      }
    }

    &--company {
      padding: 23px 0 32px 32px;

      .card__topper {
        .card__image {
          width: 72px;
          height: 72px;
        }
        .card__topper-left {
          padding: 0 20px 0 26px;
          margin: 0;

          .card__company-name {
            margin: 6px 0 0 0;
          }

          .card__ratings {
            margin-top: -2px;
          }
        }
        .card__topper-right {
          margin-left: auto;
          padding-right: 32px;
          margin-top: -6px;

          .card__review:first-child {
            padding-right: 32px;
          }
        }
      }
      .card__description__icons {
        padding-top: 37px;

        .card__description__item {
          padding-bottom: 20px;

          &__top {
            padding-bottom: 2px;
          }
        }
      }

      .card__description__text {
        .card__descriptor {
          padding: 22px 0 14px 0;
        }

        .card__text {
          padding-right: 80px;
        }
      }
    }

    &--boards {
      padding: 23px 0 23px 2px;
      .card__topper {
        .card__company-name {
          padding: 0 0 0 12px;
        }

        span {
          margin: 0 0 0 auto;
        }
      }

      .card__body {
        .card__title {
          padding: 14px 0 13px 0;
        }
      }

      .card__description {
        span,
        span:first-of-type,
        span:first-child,
        span:last-of-type {
          margin: 0;
          padding: 0;
          width: 70%;
        }

        span:first-child {
          width: 110%;
        }

        i {
          font-size: 20px;
        }

        .card__time {
          padding: 0;
        }
      }
    }

    &--reviews {
      margin: 0;
      padding: 23px 0 23px 0;
      border-bottom: 1px solid $color-bonjour;

      .card__topper {
        display: flex;

        .card__user {
          padding-left: 12px;

          .card__name {
            padding: 5px 0 0 0;
          }

          .card__ratings {
            button {
              padding-left: 3px;
            }

            .card__position {
              padding: 10px 0 0 16px;
              white-space: nowrap;
            }
          }
        }

        .card__time {
          margin-left: auto;
          padding-top: 8px;
          white-space: nowrap;
        }
      }

      .card__recommendation {
        display: flex;
        padding: 0 0 0 60px;

        .btn_def {
          margin-top: 8px;
          padding-right: 12px;

          i {
            padding: 0 4px;
          }
        }
      }

      // three recommendation buttons placement
      .three-badge {
        padding: 0 0 0 62px;

        div:last-child {
          grid-column-start: 1;
          grid-column-end: 1;
          width: 29%;
        }
      }

      .card__body {
        padding: 1px 23px 14px 62px;

        .card__comment {
          padding-bottom: 8px;
        }

        .card__text {
          margin: 0;
        }
      }

      .card__bottom {
        display: flex;
        padding: 0 0 0 53px;

        .share {
          margin: auto 0 auto auto;
          padding: 0 20px 0 0;

          span {
            display: flex;
            align-items: center;

            i {
              padding: 0 0 0 8px;
            }
          }
        }
      }
    }

    &--benefits {
      padding: 0 0 0 14px;
      &__top {
        header {
          padding-bottom: 4px;
        }

        p {
          padding: 0 0 13px 24px;
        }
      }

      p {
        margin: 0 0 24px 0;
      }
    }

    &--pricing {
      .pricing__options {
        .pricing__option {
          &:first-child {
            padding: 36px 0 56px 0;
          }

          &:not(:first-child) {
            padding: 13px 0 16px 0;
          }

          img {
            margin-top: -5px;
          }
        }
      }

      &--only-text {
        padding-top: 144px;
        text-align: left;

        .pricing__text {
          padding: 30px 95px 0 0;
        }

        .pricing__stacks__title {
          padding: 32px 0 9px 0;
        }

        .pricing__options {
          .pricing__option {
            color: $color-shipgray;

            &:first-child {
              padding: 0;
            }
          }
        }
      }
    }
  }

  // bigger-card (spotify)
  .bigger-card {
    min-height: 408px;
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  .card {
    &--clients {
      padding: 44px 36px;
    }

    &--srjTwo {
      .card__bottom {
        padding-bottom: 32px;
        article > .card__descriptor {
          padding: 22px 0 16px 0;
        }

        .card__text {
          padding: 0 40px 12px 0;
        }

        .card__video-lg {
          padding: 2px 36px 0 0;
          float: right;
        }
      }
    }

    &--pricing {
      &--only-text {
        padding-top: 145px;

        .pricing__text {
          padding: 30px 130px 0 0;
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
