// filter

.filter {
  &__header {
    color: $color-mountainmist;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  .card {
    border: none;
  }

  &__item {
    display: flex;
  }

  &__title {
    color: $color-black;
    align-items: flex-start;
  }

  &__card-body {
    padding-top: 16px;
  }

  &__icon {
    display: flex;
    align-self: center;
    margin-left: auto;
    font-size: 20px;
    justify-content: end;
  }

  &__search {
    margin-top: 15px;
    border: 1px solid rgba(232, 231, 232, 0.8);
    padding: 9px 0 10px 12px;
  }

  &__search-box {
    outline: none;
    border: none;
  }

  &__search-box::placeholder {
    color: $color-spunpearl;
  }

  a {
    text-decoration: none !important;
  }

  &__text {
    color: $color-shipgray;
    padding-bottom: 3px;
    white-space: nowrap;
  }
}

// ###################
// RESPONSIVE
// ###################

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) and (max-width: 576px) {
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) and (max-width: 768px) {
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
