// filter

.filter {
  &__header {
    color: $color-mountainmist;
    text-transform: uppercase;
  }

  .card {
    border: none;
  }

  &__item {
    display: flex;
  }

  &__title {
    color: $color-black;
    align-items: flex-start;
  }

  &__card-body {
    padding-top: 16px;
  }

  &__icon {
    display: flex;
    align-self: center;
    margin-left: auto;
    font-size: 20px;
    justify-content: flex-end;
  }

  &__search {
    margin-top: 15px;
    border: 1px solid rgba(232, 231, 232, 0.8);
    padding: 9px 0 10px 12px;
  }

  &__search-box {
    outline: none;
    border: none;
  }

  &__search-box::placeholder {
    color: $color-spunpearl;
  }

  &__text {
    color: $color-shipgray;
    white-space: nowrap;
  }

  a {
    text-decoration: none !important;
  }
  hr {
    margin: 0.8rem 0 !important;
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .filter {
    &__header {
      padding-bottom: 26px;
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .filter {
    &__header {
      padding-bottom: 22px;
    }

    &__card-body {
      .form-check {
        padding: 0;
        padding-left: 12px;
      }
    }

    &__text {
      padding: 7px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
