// pager

.page-navigations {
  display: flex;
  padding: 30px 0;

  .page-item > a {
    color: $color-mountainmist;
    border: none;
    padding: 0;
    margin-right: 32px;
  }
  .page-item.active {
    color: $color-shipgray;
  }

  .page-link {
    @include transition($all);
    &:hover {
      @include transition($all);
      color: $color-shipgray;
      background-color: $color-white;
      border: none;
    }
    &:focus {
      box-shadow: $color-white;
    }
  }

  .pager {
    margin-left: auto;
    .previous,
    .next {
      padding-left: 36px;
    }
  }

  .pager > a {
    color: $color-blazeorange;
    text-decoration: none;
    @include transition($all);
    &:hover {
      @include transition($all);
      color: $color-shipgray;
    }
  }
}
