// search-bar

.search-box {
  display: flex;
  background-color: $color-white;

  &__top {
    position: absolute;
  }
  &__top__btn {
    position: relative;
    top: -20px;
    width: 109px;
    height: 33px;
    color: $color-shipgray;
    text-transform: uppercase;
    text-decoration: none !important;

    &:link {
      color: $color-shipgray;
      background-color: $color-white;
    }
    &:visited {
      color: $color-shipgray;
      background-color: $color-white;
    }
    &:hover {
      color: $color-shipgray;
    }
    &:focus {
      color: $color-shipgray;
      background-color: $color-dustygray;
    }
    &:active {
      background-color: $color-white;
      background-color: $color-dustygray;
    }
  }

  &__top__btn:first-child {
    padding: 6px 57px 3px 18px;
  }
  &__top__btn:last-child {
    padding: 6px 18px 3px 12px;
    margin-left: -3px;
  }

  &__searchInput {
    display: flex;
    flex-direction: row;
  }

  .input-search {
    border: none;
    padding: 28px 0px;
  }

  .input-search::-webkit-input-placeholder {
    color: $color-midgray;
  }

  .input i {
    font-size: 22px;
    background-color: $color-white;
    color: $color-spunpearl;
    padding-left: 20px;
  }
  input {
    outline: none;
    text-indent: 15px;
  }

  .search-btn {
    margin: auto 12px auto auto;
  }

  &--sm {
  }

  &--md {
    .row {
      width: 975px;
    }
    .input-search {
      margin: 1px;
    }
  }
}

.showing {
  color: $color-mountainmist;
}

.sort-by {
  color: $color-mountainmist;
}

.filter {
  color: $color-mountainmist;
}
