// search-bar

.search-box {
  display: flex;

  background-color: $color-white;
  @include box-shadow($search-box);

  &__top {
    &__btn {
      color: $color-shipgray;
      text-transform: uppercase;
      text-decoration: none !important;
      @include transition($all);

      // TODO: active aksiyonu :focus-within ile dene
      &:link {
        color: $color-shipgray;
        background-color: $color-white;
      }
      &:visited {
        color: $color-shipgray;
        background-color: $color-white;
      }
      &:hover {
        color: $color-shipgray;
      }
      &:focus {
        color: $color-shipgray;
        background-color: $color-dustygray;
      }
      &:active {
        background-color: $color-white;
        background-color: $color-dustygray;
      }
    }

    &__btn:first-child {
      padding: 6px 52px 10px 18px;
    }
    &__btn:last-child {
      padding: 6px 18px 10px 17px;
      margin-left: -4px;
    }
  }

  &__searchInput {
    display: flex;
    width: 100%;
    padding-right: 12px;
    .input {
      width: 100%;
      padding: 0.5em 1.1em;
      i {
        font-size: $font-24;
        background-color: $color-white;
        color: $color-spunpearl;
        padding-right: 5px;
      }
      .input-search {
        outline: none;
        border: none;
      }
      .input-search::-webkit-input-placeholder {
        color: $color-midgray;
        letter-spacing: 0.1px;
      }
    }
    .search-btn {
      margin: auto;
    }

    // .right {
    //   margin-left: 80px;
    // }

    border-divider .left:after {
      content: "";
      height: 65%;
      width: 1px;
      position: absolute;
      right: -90px;
      top: 14px;
      background-color: $color-bonjour;
    }
    .wrapper {
      // padding: 30px 0;
    }
  }

  &--homepage {
  }
  &--sm {
    min-height: 80px;
  }
}

.showing {
  color: $color-mountainmist;
}

.sort-by {
  color: $color-mountainmist;
}

.filter {
  color: $color-mountainmist;
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) and (max-width: 576px) {
  .search-box {
    height: 225px;
    margin: 0 10px;

    &__top {
      margin: 0 10px 9px 10px;
    }
    &__searchInput {
      display: flex;
      flex-direction: column;
      padding: 10px 10px 0px 10px;
      justify-content: center;
      .input {
        .input-search {
          outline: none;
          border: none;
          padding: 12px 0;
        }
      }
    }
  }
  // search-box top ve search-box placement
  .homepage__search-box {
    margin: 285px 0;
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) and (max-width: 767px) {
  .search-box {
    &__top {
      margin-bottom: 9px;
    }
    &__searchInput {
      display: flex;
      flex-direction: column;
      padding: 0px 10px 0px 10px;
      margin-bottom: 10px;
      justify-content: center;
      .input {
        .input-search {
          outline: none;
          border: none;
          padding: 12px 0;
        }
      }
    }
  }
  // search-box top ve search-box placement
  .homepage__search-box {
    margin: 121px 0;
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {
  .search-box {
    height: 76px;
    &__top {
      margin-bottom: 9px;
    }
    &__searchInput {
      .input {
        .input-search {
          padding: 16px 0;
        }
      }
    }
  }
  // search-box top ve search-box placement
  .homepage__search-box {
    margin: 415px 0;
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .search-box {
    height: 86px;
    &__top {
      margin-bottom: 10px;
    }
    &__searchInput {
      .input {
        .input-search {
          padding: 20px 0;
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
