### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Images ###
*.jpg
*.jpeg
*.png
*.svg
