// nav

.navbar {
  height: 80px;
  padding: 16px 22px;

  &__brand {
    padding: 0;
    margin: 0;
  }

  &__list {
    li a {
      text-decoration: none;
    }
  }

  &__menu-left {
    padding-left: 13px;
    .navbar__link {
      padding-right: 36px;
    }
  }

  &__menu-right {
    padding: 0 28px;
  }

  &__menu-left,
  &__menu-right {
    .navbar__link {
      color: $color-shipgray;
      @include transition(all 0.3s ease-in-out);
      &:hover {
        @include transition(all 0.3s ease-in-out);
        color: $color-black;
      }
    }
  }

  .nav-active {
    transform: translateX(0%);
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) and (max-width: 576px) {
  @include navbar-sm-md;
}

@media (min-width: 577px) and (max-width: 767px) {
  @include navbar-sm-md;
  .navbar {
    &-collapse {
      transition: 0s;
    }
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .navbar {
    .navbar__list {
      padding: 0 20px;
      white-space: nowrap;
    }

    &__collapse {
      transition: transform 0s;
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
