// typo

// * base
h1 {
  @include font(manrope, semibold);
  font-size: $font-64;
  font-weight: $medium;
  line-height: 87px;
  letter-spacing: 3px;
}

h2 {
  @include font(manrope, semibold);
  font-size: $font-48;
  font-weight: $regular;
  line-height: 66px;
}

h3 {
  @include font(manrope, semibold);
  font-size: $font-32;
}

h4 {
  @include font(inter, regular);
  font-size: $font-24;
  font-weight: $medium;
}

//  font-families, font-size, font-weight / components, layout, pages

// * components

//  cards
.card {
  &__company-name {
    @include font(inter, medium);
    font-size: $font-14;
  }

  &__text {
    @include font(inter, regular);
    font-size: $font-14;
    line-height: $font-24;
  }

  &__header {
    @include font(inter, medium);
    line-height: 34px;
    letter-spacing: 0.2px;
  }

  &__description {
    @include font(inter, regular);
    font-size: $font-14;
    letter-spacing: 0.1px;
  }

  &__descriptor {
    @include font(manrope, semibold);
    font-size: $font-14;
    font-weight: $light;
  }

  &__time {
    @include font(inter, regular);
    font-size: $font-14;
  }

  &__ratings {
    @include font(inter, light);
    font-size: $font-14;
    font-weight: $regular;
    span {
      font-weight: $regular;
    }
  }

  &__social {
    @include font(inter, medium);
    font-size: $font-14;
  }

  &__title {
    @include font(inter, medium);
    font-size: $font-18;
    line-height: $font-26;
    letter-spacing: 0.1px;
  }

  &__review {
    @include font(inter, medium);
    font-size: $font-14;
    span {
      @include font(inter, medium);
      font-size: $font-12;
      font-weight: $extralight;
    }
  }

  &__position {
    @include font(roboto, regular);
  }

  &--daily {
    .card__bottom__apply {
      line-height: $font-26;
      p {
        @include font(manrope, medium);
        font-size: $font-14;
        font-weight: $medium;
      }
      a {
        @include font(manrope, bold);
        font-size: $font-14;
      }
    }
  }

  &--testimonial {
    figure {
      @include font(manrope, semibold);
      font-size: $font-32;
      font-weight: $medium;
      line-height: 44px;
    }
    figcaption {
      @include font(inter, medium);
      font-size: $font-20;
      font-weight: $extralight;
    }
  }

  &--clients {
    p {
      @include font(inter, regular);
      font-size: $font-14;
      line-height: $font-24;
    }
  }

  &--company {
    .card__reviews {
      @include font(inter, semibold);
      font-size: $font-14;
      font-weight: $light;
      span {
        @include font(inter, regular);
        font-size: $font-12;
      }
    }
  }

  &--reviews {
    .card__name {
      @include font(manrope, bold);
    }

    .card__comment {
      @include font(inter, regular);
      font-weight: $bold;
    }

    .share {
      @include font(inter, medium);
    }

    .report {
      @include font(inter, regular);
    }
  }

  &--benefits {
    header {
      @include font(inter, medium);
    }
    p {
      @include font(inter, regular);
    }
  }
}

//  buttons
.btn_def {
  &--nav {
    @include font(inter, bold);
    font-size: $font-14;
    font-weight: $light;
  }

  &--find-jobs-now {
    @include font(poppins, semibold);
    font-size: $font-18;
    font-weight: $extralight;
  }

  &--recommendation {
    @include font(inter, medium);
  }

  &--helpful {
    @include font(inter, regular);
  }

  &--pricing,
  &--pricing-gray {
    @include font(inter, medium);
    font-size: $font-14;
  }

  &--location {
    @include font(inter, medium);
    font-size: $font-14;
    line-height: $font-22;
  }

  &--share {
    @include font(inter, medium);
    font-size: $font-14;
    line-height: 17px;
  }

  &--review {
    @include font(inter, bold);
    font-size: $font-14;
    font-weight: $regular;
    line-height: 17px;
  }
}

// dropdown-btn
.dropdown-item {
  @include font(inter, light);
  font-size: $font-16;
}

//  search-box
.search-box {
  &__top {
    @include font(manrope, extrabold);
    font-size: $font-12;
    font-weight: $light;
    letter-spacing: 1px;
  }
  &__searchInput {
    @include font(inter, regular);
    font-size: $font-18;
  }
  &__btn {
    @include font(inter, bold);
    font-size: $font-18;
    line-height: $font-22;
  }
  .showing {
    @include font(inter, regular);
    font-size: $font-14;
  }
  .sort-by {
    @include font(inter, regular);
    font-size: $font-14;
    a {
      @include font(inter, medium);
    }
  }
  .filter {
    @include font(manrope, bold);
    font-size: $font-12;
    font-weight: $light;
    text-transform: uppercase;
  }
}

//  forms
.filter {
  &__header {
    @include font(manrope, bold);
    font-size: $font-12;
    font-weight: $light;
    letter-spacing: 1px;
  }

  &__title {
    @include font(manrope, medium);
    font-size: $font-14;
    font-weight: $medium;
  }

  &__text {
    @include font(inter, regular);
    font-size: $font-14;
  }

  &__search-box::placeholder {
    @include font(inter, regular);
    font-size: $font-14;
  }
}

//  pager and page-navigation
.pager {
  @include font(inter, regular);
  font-size: $font-14;
}

.page-navigations {
  .page-item {
    @include font(inter, regular);
    font-size: $font-14;
  }
}

// * layout

//  nav
.navbar {
  font-size: $font-14;
  line-height: $font-17;
  &__menu-left {
    @include font(inter, regular);
  }
  &__menu-right {
    @include font(inter, semibold);
    font-weight: $extralight;
  }
}

//  sidebar

//  footer
.footer {
  &--sm {
    &__bottom-links {
      @include font(inter, regular);
      font-size: $font-12;
    }
  }
  &--lg {
    &__bottom-links {
      @include font(inter, regular);
      font-size: $font-12;
    }
  }
  &__copyright,
  &__bottom {
    @include font(inter, regular);
    font-size: $font-12;
  }
  &__list {
    li p {
      @include font(manrope, extrabold);
      font-size: $font-14;
      font-weight: $medium;
    }
    li a {
      @include font(inter, regular);
      font-size: $font-14;
      font-weight: $light;
      letter-spacing: 0.4px;
      line-height: 34px;
    }
  }
  &__language-bar {
    p {
      @include font(inter, regular);
      font-size: $font-12;
    }
    button {
      font-weight: $bold;
    }
    .dropdown-item {
      @include font(inter, light);
      font-size: $font-14;
      font-weight: $medium;
    }
  }
}

// * pages
// homepage
.homepage {
  &__text {
    @include font(inter, regular);
    font-size: $font-16;
    line-height: $font-26;
  }
  &__trending {
    &__left {
      p {
        @include font(inter, regular);
        font-size: $font-18;
      }
      a {
        @include font(inter, regular);
        font-size: $font-14;
        text-decoration: underline;
      }
    }
    &__right {
      @include font(inter, regular);
      font-size: $font-14;
    }
  }
  &__how-works {
    &__text {
      @include font(manrope, medium);
      font-size: $font-26;
      font-weight: $light;
      line-height: $font-33;
    }
    .number {
      @include font(manrope, extrabold);
      font-size: $font-16;
    }
    .profile {
      @include font(inter, medium);
      font-size: $font-18;
    }
  }
  &__daily__top__category {
    // dropdowns-right side
    .btn {
      @include font(inter, medium);
      font-size: $font-18;
    }
  }
  &__daily__explore {
    div {
      @include font(manrope, extralight);
      font-size: $font-72;
    }

    p {
      @include font(inter, regular);
      font-size: $font-18;
    }
    a {
      @include font(inter, regular);
      font-size: $font-18;
    }
    .sort-by {
      display: inline-block;
    }
  }
  &__daily__explore__category > a {
    @include font(inter, regular);
    font-size: $font-18;
    text-decoration: underline;
  }
  &__testimonial {
    .carousel-item h3 {
      @include font(manrope, semibold);
      font-size: $font-32;
    }
    h3 + aside.title {
      @include font(inter, semibold);
      font-size: $font-20;
    }
    aside .name {
      @include font(inter, regular);
      font-size: $font-20;
    }
  }
  &__clients {
    &__post-job {
      line-height: $font-26;
      p {
        @include font(inter, regular);
        font-size: $font-16;
      }
      a {
        @include font(manrope, regular);
        font-size: $font-18;
      }
    }

    &__text {
      @include font(inter, regular);
      font-size: $font-14;
    }
  }
  &__find-job {
    &__title {
      @include font(manrope, light);
      line-height: 66px;
      font-weight: $extralight;
      span > button {
        font-size: $font-48;
        font-weight: $extrabold;
        letter-spacing: 1px;
        text-decoration: underline;
      }
    }
  }
}

//  search-jobsOne
.srjOne {
  // dropdowns-right side
  .btn {
    @include font(inter, medium);
    font-size: $font-14;
  }
}

//  search-jobsTwo
.srjTwo {
  &__location {
    header {
      @include font(inter, medium);
      font-size: $font-14;
      font-weight: $medium;
      .price {
        @include font(inter, medium);
        font-size: $font-14;
      }
    }

    &__price {
      @include font(inter, medium);
      font-size: $font-14;
      font-weight: $medium;
    }
  }
}

//  company
.company {
  &__reviews {
    &__ratings {
      .rating {
        @include font(inter, medium);
      }

      .sort {
        @include font(inter, medium);
      }

      .review {
        @include font(inter, regular);
      }
    }
  }

  &__benefits__top {
    header {
      @include font(manrope, semibold);
      font-size: $font-16;
      font-weight: $regular;
    }
    p {
      @include font(manrope, regular);
      font-size: $font-14;
      font-weight: $light;
    }
  }

  &__culture {
    p,
    a {
      @include font(inter, regular);
    }
  }

  &__contact {
    p {
      @include font(inter, regular);
    }
  }
}

//  pricing
.pricing {
  &__heading__text {
    @include font(aileron, regular);
    font-size: $font-16;
  }
  .selection {
    @include font(inter, medium);
    font-size: $font-18;
  }
  .selection + span {
    @include font(inter, semibold);
    font-size: $font-12;
    font-weight: $regular;
  }
  &__text {
    @include font(inter, regular);
    font-size: $font-14;
  }
  &__old-price {
    @include font(inter, regular);
    font-size: $font-14;
  }
  &__price {
    @include font(manrope, extrabold);
    font-size: $font-48;
  }
  &__stacks-title {
    @include font(inter, bold);
    font-size: $font-12;
    font-weight: $regular;
    text-transform: uppercase;
  }
  &__stacks-text {
    @include font(inter, regular);
    font-size: $font-16;
  }
  &__traits__option,
  &__traits__option--marked {
    @include font(inter, regular);
    font-size: $font-14;
    font-weight: $bold;
  }

  &__option {
    @include font(inter, regular);
    font-size: $font-14;
  }
}

//  another components

// dropdowns-left side
.sort-by {
  @include font(inter, medium);
  font-size: $font-18;
  font-weight: $regular;
}

// search-result showing
.showing,
.dropdown-toggle {
  @include font(inter, regular);
  font-size: $font-14;
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) and (max-width: 576px) {
  h2 {
    font-size: $font-20 !important;
    font-weight: $light;
    line-height: 27px !important;
  }

  // * pages
  .homepage {
    &__text {
      font-size: $font-12;
      line-height: $font-24;
    }
    &__trending {
      &__left {
        p {
          font-size: $font-18;
        }
        a {
          font-size: $font-14;
          text-decoration: underline;
        }
      }
      &__right {
        font-size: $font-14;
      }
    }
    &__how-works {
      &__text {
        font-size: $font-26;
        font-weight: $light;
        line-height: $font-33;
      }
      .number {
        font-size: $font-16;
      }
      .profile {
        font-size: $font-16;
      }
    }
    &__daily__top__category {
      .sort-by {
        font-size: $font-14;
      }
      .btn {
        font-size: $font-14;
      }
    }

    &__daily__explore {
      div {
        font-size: $font-72;
      }

      p {
        font-size: $font-18;
      }
      a {
        font-size: $font-18;
      }
      .sort-by {
        display: inline-block;
      }
    }
    &__daily__explore__category > a {
      font-size: $font-18;
      text-decoration: underline;
    }
    &__testimonial {
      .carousel-item h3 {
        font-size: $font-32;
      }
      h3 + aside.title {
        font-size: $font-20;
      }
      aside .name {
        font-size: $font-20;
      }
    }
    &__clients {
      &__post-job {
        line-height: $font-26;
        p {
          font-size: $font-14;
        }
        a {
          font-size: $font-18;
        }
      }

      &__text {
        font-size: $font-12;
      }
    }
    &__find-job {
      &__title {
        span > button {
          font-size: $font-20;
          font-weight: $medium;
          text-decoration: underline;
        }
      }
    }
  }

  .srjTwo {
    &__location {
      &__price {
        font-weight: $bold;
      }
    }

    .card--daily {
      .card__company-name {
        font-weight: $regular;
      }

      .card__title {
        font-weight: $regular;
        line-height: 26px;
      }

      .card__description {
        font-weight: $bold;
      }
    }
  }

  .company {
    &__culture {
      p,
      a {
        font-size: $font-12;
        line-height: $font-24;
      }
    }

    &__contact {
      .help {
        font-size: $font-12;
      }
    }

    &__reviews {
      &__top {
        .card__descriptor {
          font-size: $font-16;
          line-height: 22px;
        }

        .card__time {
          font-size: $font-12;
          line-height: 15px;
        }
      }

      &__ratings {
        .rating {
          font-size: $font-46;
          line-height: 56px;
        }

        .sort {
          font-size: $font-16;
          line-height: 17px;
        }

        .review {
          font-size: $font-12;
          line-height: 15px;
        }
      }
    }

    .search-box {
      &__searchInput {
        input {
          font-size: $font-12;
          line-height: 15px;
        }
      }
    }
  }

  // * layout
  .footer {
    &__list {
      li p {
        font-size: $font-12;
      }
      li a {
        font-size: $font-12;
        letter-spacing: 0;
        line-height: 22px;
      }
    }
  }

  // * components
  .card {
    &--testimonial {
      figure {
        font-size: $font-18;
        line-height: 30px;
      }
      figcaption {
        font-size: $font-14;
      }
    }

    &--employee {
      .card__company-name {
        font-size: $font-14;
      }
    }

    &--srjTwo {
      .card__descriptor {
        font-size: 14px;
        font-weight: $regular;
      }

      .card__description {
        font-weight: $bold;
      }

      .card__text {
        font-size: $font-12;
        font-weight: $bold;
        line-height: $font-22;
      }
    }

    &--company {
      .card__company-name {
        font-size: $font-16;
      }

      .card__description__item {
        .card__description__item {
          &__top {
            @include font(inter, medium);
            font-size: $font-12;
            font-weight: $medium;
          }
          &__bottom {
            @include font(inter, regular);
            font-size: $font-14;
            font-weight: $extralight;
          }
        }
      }

      .card__descriptor {
        @include font(manrope, semibold);
        font-size: $font-14;
        font-weight: $medium;
      }

      .card__text {
        font-size: $font-12;
        line-height: $font-22;
      }
    }

    &--boards {
      .card__company-name {
        font-size: $font-12;
        line-height: 16px;
      }
      .card__time {
        font-size: $font-12;
        line-height: 15px;
      }

      .card__title {
        font-size: $font-14;
        line-height: 20px;
      }
    }

    &--benefits {
      header {
        font-size: $font-14;
        line-height: 17px;
      }

      p {
        font-size: $font-12;
        line-height: 20px;
      }
    }

    &--reviews {
      .card__name {
        font-size: $font-14;
        font-weight: $regular;
        line-height: 19px;
      }

      .card__time {
        font-size: $font-12;
        line-height: 15px;
      }

      .card__ratings {
        font-size: $font-12;
        line-height: 22px;
      }

      .card__comment {
        font-size: $font-14;
        font-weight: $regular;
        line-height: 22px;
      }

      .card__text {
        font-size: $font-12;
        line-height: 22px;
      }

      .share,
      .report {
        font-size: $font-12;
        line-height: 15px;
      }
    }

    &__title {
      font-size: $font-16;
    }

    &__header {
      font-size: $font-16;
      line-height: 28px;
    }

    &__position {
      font-size: $font-12;
      line-height: 17px;
      letter-spacing: 0;
    }
  }

  .btn_def {
    &--search-box {
      font-size: $font-16;

      &-xs {
        font-size: $font-12;
      }
    }

    &--find-jobs-now {
      font-size: $font-14;
    }

    &--recommendation-green,
    &--recommendation-gray,
    &--recommendation-red {
      span {
        font-size: $font-12;
        line-height: 15px;
      }
    }

    &--helpful {
      font-size: $font-12;
      line-height: 15px;
    }
  }

  .dropdown-item {
    @include font(inter, light);
    font-size: $font-12;
  }

  .search-box {
    input {
      font-size: $font-14;
    }
  }

  .sort-by {
    font-size: $font-14;
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
  // pages
  .homepage {
    &__text {
      font-size: $font-16;
      line-height: $font-36;
    }

    &__trending {
      &__left {
        p {
          font-size: $font-18;
        }
        a {
          font-size: $font-14;
          text-decoration: underline;
        }
      }
      &__right {
        font-size: $font-14;
      }
    }

    &__how-works {
      &__text {
        font-size: $font-26;
        font-weight: $light;
        line-height: $font-33;
      }
      .number {
        font-size: $font-16;
      }
      .profile {
        font-size: $font-18;
      }
    }

    &__daily__category {
      .sort-by {
        font-size: $font-14;
      }
      .btn {
        font-size: $font-18;
      }
    }

    &__daily__explore {
      div {
        font-size: $font-72;
      }

      p {
        font-size: $font-18;
      }
      a {
        font-size: $font-18;
      }
      .sort-by {
        display: inline-block;
      }
    }

    &__daily__explore__category > a {
      font-size: $font-18;
      text-decoration: underline;
    }

    &__testimonial {
      .carousel-item h3 {
        font-size: $font-32;
      }
      h3 + aside.title {
        font-size: $font-20;
      }
      aside .name {
        font-size: $font-20;
      }
    }

    &__clients {
      &__post-job {
        line-height: $font-26;
        p {
          font-size: $font-16;
        }
        a {
          font-size: $font-18;
        }
      }

      &__text {
        font-size: $font-14;
      }
    }

    &__find-job {
      &__title {
        font-size: $font-26;
        font-weight: $extralight;
        span > button {
          font-size: $font-26;
          font-weight: $medium;
          letter-spacing: 1px;
          text-decoration: underline;
        }
      }
    }
  }

  .company {
    &__culture {
      p,
      a {
        font-size: $font-14;
        line-height: $font-24;
      }
    }

    &__contact {
      .help {
        font-size: $font-14;
      }
    }

    &__reviews {
      &__top {
        .card__time {
          font-size: $font-14;
          line-height: 17px;
        }
      }

      &__ratings {
        .rating {
          font-size: $font-36;
          line-height: 44px;
        }

        .sort {
          font-size: $font-14;
          line-height: 17px;
        }

        .review {
          font-size: $font-12;
          line-height: 15px;
        }
      }
    }

    .search-box {
      &__searchInput {
        input {
          font-size: $font-14;
          line-height: 17px;
        }
      }
    }

    &__benefits {
      &__top {
        header {
          font-size: $font-16;
          line-height: 22px;
        }

        p {
          line-height: 24px;
        }
      }
    }
  }

  // layout
  .footer {
    &__links {
      li > p {
        line-height: 50px;
      }
      li > a {
        line-height: 30px;
      }
    }
  }

  // components
  .card {
    &--testimonial {
      figure {
        font-size: $font-22;
        line-height: 36px;
      }
      figcaption {
        font-size: $font-18;
      }
    }

    &--company {
      .card__company-name {
        font-size: $font-18;
      }

      .card__description__item {
        &__top {
          @include font(inter, medium);
          font-size: $font-14;
          font-weight: $medium;
        }
        &__bottom {
          @include font(inter, regular);
          font-size: $font-14;
          font-weight: $regular;
        }
      }
    }

    &--boards {
      .card__company-name {
        font-size: $font-14;
        line-height: 26px;
      }
      .card__time {
        font-size: $font-14;
        line-height: 17px;
      }

      .card__title {
        font-size: $font-18;
        line-height: 22px;
      }
    }

    &--reviews {
      .card__time {
        font-size: $font-14;
        line-height: 17px;
      }

      .card__ratings {
        font-size: $font-14;
        line-height: 17px;
      }
    }

    &--reviews {
      .card__name {
        font-weight: $light;
      }

      .card__comment {
        font-weight: $bold;
      }
    }

    &__position {
      font-size: $font-14;
      line-height: 16px;
    }
  }

  .btn_def {
    &--search-box {
      &-xs {
        font-size: $font-14;
        line-height: 15px;
      }
    }

    &--find-jobs-now {
      font-size: $font-14;
    }

    &--recommendation-green,
    &--recommendation-gray,
    &--recommendation-red {
      span {
        font-size: $font-14;
        line-height: 17px;
      }
    }

    &--helpful {
      font-size: $font-14;
      line-height: 17px;
    }
  }

  .search-box {
    input {
      font-size: $font-16;
    }
  }

  .sort-by {
    font-size: $font-14;
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {
  // pages
  .homepage {
    &__text {
      line-height: $font-26;
    }
    &__find-job {
      &__title {
        font-size: $font-44;
        span > button {
          font-size: $font-44;
        }
      }
    }
  }

  .company {
    &__contact {
      .help {
        font-weight: $extralight;
      }
    }

    &__reviews {
      .card__descriptor {
        font-size: $font-16;
      }
    }
  }

  // components
  .card {
    &--testimonial {
      blockquote {
        font-size: $font-28;
        line-height: 40px;
      }
    }

    &--company {
      .card__company-name {
        font-size: $font-22;
      }

      .card__description__item {
        &__top {
          @include font(inter, medium);
          font-size: $font-14;
          font-weight: $medium;
        }
        &__bottom {
          @include font(inter, regular);
          font-size: $font-14;
          font-weight: $regular;
        }
      }
    }

    &--reviews {
      .card__time {
        font-size: $font-14;
        line-height: 17px;
      }
    }

    &--benefits {
      header {
        font-size: $font-14;
        line-height: 17px;
      }

      p {
        font-size: $font-12;
        line-height: 20px;
      }
    }

    &__header {
      font-size: $font-22;
      line-height: 34px;
    }
  }

  .btn_def {
    &--find-jobs-now {
      font-size: $font-18;
    }
  }

  .search-box {
    &__searchInput {
      font-size: $font-16;
    }
  }

  .sort-by {
    font-size: $font-14;
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  // * base
  h2 {
    font-size: $font-48 !important;
    font-weight: $regular;
    line-height: 66px !important;
  }

  // * pages
  .homepage {
    &__find-job {
      &__title {
        span > button {
          font-size: $font-48;
        }
      }
    }
  }

  .srjOne {
    &__result {
      &__top {
        .showing,
        .sort-by {
          font-size: $font-14 !important;
        }
      }
    }
  }

  .srjTwo {
    .card__descriptor {
      font-size: $font-16;
    }

    .card__text {
      line-height: 24px;
    }

    &__similiar-jobs {
      &__header {
        font-size: $font-24;
        font-weight: $bold;
      }
    }
  }

  // * components
  .card {
    &__header {
      font-size: $font-24;
    }

    &--testimonial {
      figure {
        @include font(manrope, semibold);
        font-size: $font-32;
        font-weight: $medium;
        line-height: 44px;
      }

      figcaption {
        @include font(inter, medium);
        font-size: $font-20;
        font-weight: $extralight;
      }
    }

    &--employee {
      .card__company-name {
        font-size: $font-18;
      }
    }

    &--srjTwo {
      .card__text {
        line-height: $font-24;
      }
    }

    &--company {
      .card__company-name {
        font-size: $font-24;
      }
    }

    &--benefits {
      header {
        font-size: $font-14;
        line-height: 17px;
      }

      p {
        font-size: $font-12;
        line-height: 20px;
      }
    }
  }

  .search-box {
    input {
      font-size: $font-18;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  // pages
  .homepage {
    &__find-job {
      &__title {
        span > button {
          font-size: $font-48;
        }
      }
    }
  }

  // components
  .btn_def {
    &--find-jobs-now {
      font-size: $font-18;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
