// colors

$color-white: #ffffff; // h1, header-text
$color-black: #000000; // h2, homepage-how-works-profile
$color-nebula: #d3e1de;
$color-corduroy: #576867; // homepage-nav
$color-geyser: #d7e5e2; // homepage-bg-2, footer-language-dropdown-item-hover-bg, homepage-trending-btn
$color-midgray: #64626a; // homepage-trending-right-btn, card-description, card-, footer-list-li-p, footer-bottom-links>a, footer-language-bard, card-share, srjTwo-location-price, company-ratings-card, company-btn-share, company-contact-div, pricing-heading-text, homepage-trending-right>a, footer-language-btn
$color-shipgray: #3b3a40; // nav-btn-font, search-box-top-btn, homepage-trending-left, btn-dropdown-toggle, card-company-name, card-title, card-bottom-p, card-testimonial-aside--name, homepage-clients-post-job, homepage-clients-text, footer-list-li-p, sr-one-header-nav-list, sr-one-form-text, card__header, page-item-active, card-text, company-ratings-rating, card-name, card-comment, card--benefits-header, company-culture-p, pricing-plans-form-selection, pricing-stacks-text, pricing-traits-option-marked, homepage-trending-left>p, card-header, homepage-find-job-title-down-arrow
$color-spunpearl: #b3b1b7; // card-time, homepage-how-works-arrow, pricing-stacks-title, pricing-old-price, pricing-traits-option, filter-search-placeholder
$color-haiti: #211437; // homepage-daily-explore-div,
$color-bonjour: #e8e7e8; // footer-language-bar-border, card-daily-border
$color-mountainmist: #8e8c95; // homepage-how-works, sort-by, car-carousel, form-header, search-showing, page-item, card-review-span, card-rating, filter-reviews, company-benefits-top>p, card--benefits>p, pricing-text
$color-dustygray: #979797; // search-box-top-btn-bg
$color-rangoongreen: #0a0b09; // nav-links-hover, footer-links-hover, footer-bottom-links-hover
$color-blazeorange: #fa6402; // trending-searchs-more, card-text-hover / card-apply, homepage-how-works, card-bottom-a, pager, company-culture>a, homepage-trending-left>p
$color-texasrose: #ffb353; // review-stars
$color-chateaugreen: #39b163; // card-recommended, card-benefi
$color-mischka: #d1d0d6;
$color-caribbeangreen: #00d095;
$color-red: #ff0200;
$color-rangoongreen: #0a0b09;
$color-athensgray: #f5f6f9; // pricing-contact-btn
$color-manatee: #8b8c96; // card-ratings-span
$color-cerulean: #00a4ef;
$color-limeade: #7fba00;
$color-pomegranate: #f25022;
$color-selectiveyellow: #ffb900;
$color-deepcerulean: #0976b4;
$color-chambray: #3b5998;
$color-pictonblue: #55acee;
$color-bittersweet: #ff6161;
$color-azureradiance: #007ee5;
$color-chardonnay: #ffcb84;
$color-persimmon: #ff5b5e;
$color-malachite: #1ed760;
$color-bostonblue: #388db9;
$color-steelblue: #3b73b9;
$color-dovegray: #737373;
$color-atlantis: #88c129;
$color-alto: #d8d8d8;
$color-bridesmaid: #feede6; // header-search-employee-bg
$color-codgray: #181818;
$color-nebula: #d3e1de; // header-searchjobs-one-bg
$color-coral: #ff8149; // btn-def--search-box, btn-find-jobs-now, footer-brand, card--review, pricing-plans-form-span, pricing-btn
$color-carbbeangreen: #00d095; // pricing-oval-check-filled-icon
