// colors

$color-white: #ffffff;
$color-black: #000000;

$color-corduroy: #576867; // homepage-nav
$color-geyser: #d7e5e2; // homepage-bg-2
$color-midgray: #64626a;
$color-shipgray: #3b3a40; // nav-btn-font, search-box-to-btn
$color-spunpearl: #b3b1b7;
$color-haiti: #211437;
$color-bonjour: #e8e7e8;
$color-mountainmist: #8e8c95;
$color-dustygray: #979797;
$color-rangoongreen: #0a0b09;
$color-blazeorange: #fa6402; // trending-searchs-more, card-text-hover / card-apply
$color-texasrose: #ffb353; // review-stars
$color-chateaugreen: #39b163; // card-recommended
$color-mischka: #d1d0d6;
$color-caribbeangreen: #00d095;
$color-red: #ff0200;
$color-rangoongreen: #0a0b09;
$color-athensgray: #f5f6f9;
$color-manatee: #8b8c96;
$color-cerulean: #00a4ef;
$color-limeade: #7fba00;
$color-pomegranate: #f25022;
$color-selectiveyellow: #ffb900;
$color-deepcerulean: #0976b4;
$color-chambray: #3b5998;
$color-pictonblue: #55acee;
$color-bittersweet: #ff6161;
$color-azureradiance: #007ee5;
$color-chardonnay: #ffcb84;
$color-persimmon: #ff5b5e;
$color-malachite: #1ed760;
$color-bostonblue: #388db9;
$color-steelblue: #3b73b9;
$color-dovegray: #737373;
$color-atlantis: #88c129;
$color-alto: #d8d8d8;
$color-bridesmaid: #feede6;
$color-codgray: #181818;
$color-nebula: #d3e1de;
$color-coral: #ff8149; // btn-def--search-box
