// mixin

// transition
$all: all 0.3s ease-in-out;

@mixin transition($all) {
  -webkit-transition: $all;
  -moz-transition: $all;
  -o-transition: $all;
  transition: $all;
}

// btn-hover
$btn: background-color 0.3s ease-in-out;

@mixin transition($btn) {
  -webkit-transition: $btn;
  -moz-transition: $btn;
  -o-transition: $btn;
  transition: $btn;
}

// box-shadow
// search-box
$search-box: 0 60px 75px -4px rgba(0, 0, 0, 0.1);
@mixin box-shadow($search-box) {
  -webkit-box-shadow: $search-box;
  -moz-box-shadow: $search-box;
  box-shadow: $search-box;
}

$search-box-md: 0px 10px 40px -15px rgba(0, 0, 0, 0.3);
@mixin box-shadow($search-box-md) {
  -webkit-box-shadow: $search-box-md;
  -moz-box-shadow: $search-box-md;
  box-shadow: $search-box-md;
}

// card-testimonial
$card-testimonial: 0 1px 16px 1px rgba(0, 0, 0, 0.04);
@mixin box-shadow($card-testimonial) {
  -webkit-box-shadow: $card-testimonial;
  -moz-box-shadow: $card-testimonial;
  box-shadow: $card-testimonial;
}
