// typo

h1 {
  @include font(manrope);
  font-size: $font-64;
  font-weight: medium;
  line-height: 87px;
  letter-spacing: 3px;
}

h2 {
  @include font(manrope, semibold);
  font-size: $font-48;
  font-weight: $regular;
  line-height: 66px;
}

h3 {
  @include font(manrope, semibold);
  font-size: $font-32;
}

h4 {
  @include font(inter, regular);
  font-size: $font-24;
  font-weight: $medium;
}

// !font-families, font-size, font-weight / components, layout, pages

// !components

// cards
.card {
  &__company-name {
    @include font(manrope, regular);
    font-size: $font-14;
    font-weight: $medium;
  }
  &__text {
    @include font(inter, regular);
    font-size: $font-14;
  }
  &__header {
    @include font(inter, regular);
    font-size: $font-24;
    font-weight: $light;
  }
  &__description {
    @include font(inter, regular);
    font-size: $font-14;
  }
  &__descriptor {
    @include font(manrope, semibold);
    font-size: $font-14;
    font-weight: $light;
  }
  &__time {
    @include font(inter, regular);
    font-size: $font-14;
  }
  &__ratings {
    @include font(inter, light);
    font-size: $font-14;
    font-weight: $regular;
    span {
      font-weight: $regular;
    }
  }

  &__social {
    @include font(inter, medium);
    font-size: $font-14;
  }
  &__title {
    @include font(inter, medium);
    font-size: $font-18;
    line-height: $font-26;
  }

  &__review {
    @include font(inter, regular);
    font-size: $font-14;
    font-weight: $bold;
    span {
      @include font(inter, regular);
    }
  }

  &--daily {
    .card__bottom__apply {
      line-height: $font-26;
      p {
        @include font(manrope, medium);
        font-size: $font-14;
        font-weight: $medium;
      }
      a {
        @include font(manrope, bold);
        font-size: $font-14;
      }
    }
  }
  &--testimonial {
    figure {
      @include font(manrope, medium);
      font-size: $font-32;
      font-weight: $medium;
      line-height: 44px;
    }
    figcaption {
      @include font(inter, medium);
      font-size: $font-20;
      font-weight: $extralight;

      .card__name {
        @include font(inter, semibold);
        font-size: $font-20;
        font-weight: $extralight;
      }
    }
  }
  &--clients {
    p {
      @include font(inter, regular);
      font-size: $font-14;
    }
  }
  &--srOne {
    .card__topper {
    }
  }
  &--company {
    .card__reviews {
      @include font(inter, semibold);
      font-size: $font-14;
      font-weight: $light;
      span {
        @include font(inter, regular);
        font-size: $font-12;
      }
    }
  }
  &--reviews {
    .card__name {
      @include font(manrope, extrabold);
      font-size: $font-14;
      font-weight: $regular;
    }

    .card__comment {
      @include font(inter, semibold);
      font-size: $font-16;
      font-weight: $regular;
    }

    .share {
      @include font(inter, medium);
      font-size: $font-14;
    }
    .report {
      @include font(inter, regular);
      font-size: $font-12;
    }
  }
  &--benefits {
    header {
      @include font(inter, medium);
      font-size: $font-14;
    }
    p {
      @include font(inter, regular);
      font-size: $font-12;
    }
  }
}

// buttons
.btn_def {
  &--nav {
    @include font(inter, semibold);
    font-size: $font-14;
  }
  &--find-job {
    @include font(poppins, semibold);
    font-size: $font-18;
    font-weight: $light;
  }

  &--recommendation {
    @include font(inter, medium);
    font-size: $font-14;
  }
  &--helpful {
    @include font(inter, semibold);
    font-size: $font-14;
    font-weight: $regular;
  }
  &--pricing,
  &--pricing-gray {
    @include font(inter, medium);
    font-size: $font-14;
  }
}

// search-box
.search-box {
  &__top {
    @include font(manrope, extrabold);
    font-size: $font-12;
    font-weight: $light;
    letter-spacing: 1px;
  }
  &__searchInput {
    @include font(inter, regular);
    font-size: $font-18;
  }
  &__btn {
    @include font(inter, bold);
    font-size: $font-18;
    line-height: $font-22;
  }
  .showing {
    @include font(inter, regular);
    font-size: $font-14;
  }
  .sort-by {
    @include font(inter, regular);
    font-size: $font-14;
    a {
      @include font(inter, medium);
    }
  }
  .filter {
    @include font(manrope, bold);
    font-size: $font-12;
    font-weight: $light;
    text-transform: uppercase;
  }
}

// forms
.filter {
  &__header {
    @include font(manrope, bold);
    font-size: $font-12;
    font-weight: $light;
    letter-spacing: 1px;
  }

  &__title {
    @include font(manrope, medium);
    font-size: $font-14;
    font-weight: $medium;
  }

  &__text {
    @include font(inter, regular);
    font-size: $font-14;
  }

  &__search-box::placeholder {
    @include font(inter, regular);
    font-size: $font-14;
  }
}

// pager
.pager {
  @include font(inter, regular);
  font-size: $font-14;
}
.page-navigations {
  .page-item {
    @include font(inter, regular);
    font-size: $font-14;
  }
}

// !layout
// nav
.navbar {
  font-size: $font-14;
  line-height: $font-17;
  &__menu-left {
    @include font(inter, regular);
  }
  &__menu-right {
    @include font(inter, semibold);
    font-weight: $extralight;
  }
}

// header
.header {
}

// sidebar

// footer
.footer {
  &--sm {
    &__bottom-links {
      @include font(inter, regular);
      font-size: $font-12;
    }
  }
  &--lg {
    &__bottom-links {
      @include font(inter, regular);
      font-size: $font-12;
    }
  }
  &__copyright,
  &__bottom {
    @include font(inter, regular);
    font-size: $font-12;
  }
  &__list {
    li p {
      @include font(manrope, regular);
      font-size: $font-14;
      font-weight: $bold;
    }
    li a {
      @include font(inter, light);
      font-size: $font-14;
      font-weight: $light;
    }
  }
  &__language-bar {
    p {
      @include font(inter, regular);
      font-size: $font-12;
    }
    button {
      font-weight: $bold;
    }
    .dropdown-item {
      @include font(inter, light);
      font-size: $font-14;
      font-weight: $medium;
    }
  }
}

// !pages
// homepage
.homepage {
  &__text {
    @include font(inter, regular);
    font-size: $font-16;
    line-height: $font-26;
  }
  &__trending__left {
    p {
      @include font(inter, regular);
      font-size: $font-18;
    }
    a {
      @include font(inter, regular);
      font-size: $font-14;
      text-decoration: underline;
    }
  }
  &__trending__right {
    @include font(inter, regular);
    font-size: $font-14;
  }
  &__how-works {
    &__text {
      @include font(manrope, medium);
      font-size: $font-26;
      font-weight: $light;
      line-height: $font-33;
    }
    .number {
      @include font(manrope, extrabold);
      font-size: $font-16;
    }
    .profile {
      @include font(inter, medium);
      font-size: $font-18;
    }
  }
  &__daily__category {
    .sort-by {
      @include font(inter, regular);
      font-size: $font-18;
    }
    .btn {
      @include font(inter, medium);
      font-size: $font-18;
    }
  }
  &__daily__explore {
    div {
      @include font(manrope, extralight);
      font-size: $font-72;
    }

    p {
      @include font(inter, regular);
      font-size: $font-18;
    }
    a {
      @include font(inter, regular);
      font-size: $font-18;
    }
    .sort-by {
      display: inline-block;
    }
  }
  &__daily__explore__category > a {
    @include font(inter, regular);
    font-size: $font-18;
    text-decoration: underline;
  }
  &__testimonial {
    .carousel-item h3 {
      @include font(manrope, semibold);
      font-size: $font-32;
    }
    h3 + aside.title {
      @include font(inter, semibold);
      font-size: $font-20;
    }
    aside .name {
      @include font(inter, regular);
      font-size: $font-20;
    }
  }
  &__clients {
    &__post-job {
      p {
        @include font(inter, regular);
        font-size: $font-16;
      }
      a {
        @include font(manrope, regular);
        font-size: $font-18;
      }
    }

    &__text {
      @include font(inter, regular);
      font-size: $font-14;
    }
  }
  &__find-job__title {
    @include font(manrope, light);
    line-height: 66px;
    span {
      font-weight: $extrabold;
    }
  }
}

// search-jobsOne
.srjOne {
}

// search-jobsTwo
.srjTwo {
  &__location {
    header {
      @include font(manrope, regular);
      font-size: $font-14;
      font-weight: $bold;
      .price {
        @include font(inter, medium);
        font-size: $font-14;
      }
    }
  }
}

// company
.company {
  &__ratings {
    .rating {
      @include font(inter, medium);
      font-size: $font-36;
    }

    .sort {
      @include font(inter, medium);
      font-size: $font-34;
    }

    .review {
      @include font(inter, regular);
      font-size: $font-12;
    }
  }
  &__benefits__top {
    header {
      @include font(manrope, semibold);
      font-size: $font-16;
      font-weight: $regular;
    }
    p {
      @include font(manrope, regular);
      font-size: $font-14;
      font-weight: $light;
    }
  }
  &__culture {
    header {
      @include font(manrope, bold);
      font-size: $font-16;
      font-weight: $light;
    }
    p,
    a {
      @include font(inter, regular);
      font-size: $font-14;
    }
  }
  &__contact {
    header {
      @include font(manrope, bold);
      font-size: $font-16;
      font-weight: $light;
    }
    div {
      @include font(inter, regular);
      font-size: $font-14;
    }
  }
}

// pricing
.pricing {
  &__heading__text {
    @include font(aileron, regular);
    font-size: $font-16;
  }
  .selection {
    @include font(inter, medium);
    font-size: $font-18;
  }
  .selection + span {
    @include font(inter, semibold);
    font-size: $font-12;
    font-weight: $regular;
  }
  &__text {
    @include font(inter, regular);
    font-size: $font-14;
  }
  &__old-price {
    @include font(inter, regular);
    font-size: $font-14;
  }
  &__price {
    @include font(manrope, extrabold);
    font-size: $font-48;
  }
  &__stacks-title {
    @include font(inter, bold);
    font-size: $font-12;
    font-weight: $regular;
    text-transform: uppercase;
  }
  &__stacks-text {
    @include font(inter, regular);
    font-size: $font-16;
  }
  &__traits__option,
  &__traits__option--marked {
    @include font(inter, regular);
    font-size: $font-14;
    font-weight: $bold;
  }

  &__option {
    @include font(inter, regular);
    font-size: $font-14;
  }
}

.showing {
  @include font(inter, regular);
  font-size: $font-14;
}

// // !font-families - global classes

// // aileron-regular
// .pricing h2 + p {
//   @include font(aileron, regular);
// }

// // inter-regular
// .company-name + aside,
// .card__bottom,
// .card__clients,
// .search-box__searchInput,
// .footer__copyright,
// .footer__bottom,
// .footer__list li a,
// .footer__language-bar p,
// .homepage__text,
// .homepage__left p,
// .homepage__left a,
// .homepage__trending__right,
// .homepage__daily__category p,
// .homepage_-daily__explore p,
// .homepage_-daily__explore a,
// .homepage__clients__post-job p,
// .homepage__clients__text   {
//   @include font(inter, regular);
// }

// // inter-medium
// .card .title,
// .card--testimonial .title,
// .navbar__menu-left,
// .homepage__how-works .profile,
// .homepage__daily__category .btn {
//   @include font(inter, medium);
// }

// // inter-semibold
// .card--testimonial .name,
// .btn_def--nav {
//   @include font(inter, semibold);
// }

// // inter-bold
// .search-box__top__btn {
//   @include font(inter, medium);
// }

// // manrope-extralight
// .homepage__daily__explore div {
//   @include font(manrope, extralight);
// }

// // manrope-light

// // manrope-semibold
// .homepage__how-works aside p,
// .footer li p,
// .filter__title {
//   @include font(manrope, semibold);
// }

// // manrope-bold
// .card--daily .card-bottom a {
//   @include font(manrope, bold);
// }

// // manrope-extrabold
// .search-box__top,
// .homepage__how-works .number,
// .filter__header {
//   @include font(manrope, extrabold);
// }

// poppins-semibold

// roboto-regular
