// typo

// !font-family

// aileron
$font-aileron: "Aileron";

// inter
$font-inter-regular: "Inter Regular";
$font-inter-medium: "Inter Medium";
$font-inter-semibold: "Inter SemiBold";
$font-inter-bold: "Inter Bold";

// manrope
$font-manrope-extralight: "Manrope ExtraLight";
$font-manrope-light: "Manrope Light";
$font-manrope-semibold: "Manrope SemiBold";
$font-manrope-bold: "Manrope Bold";
$font-manrope-extrabold: "Manrope ExtraBold";

// poppins
$font-poppins: "Poppins SemiBold";

// roboto
$font-roboto: "Roboto";

$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
