// typo

h1 {
  @include font(manrope, semibold);
  font-size: $font-64;
}

h2 {
  @include font(manrope, semibold);
  font-size: $font-48;
}

h3 {
  @include font(manrope, semibold);
  font-size: $font-32;
}

h1 + p {
  @include font(inter, regular);
  font-size: $font-16;
}

// !search-box
.search-box {
  &__top {
    @include font(manrope, extrabold);
    font-size: $font-12;
  }
  &__searchInput {
    @include font(inter, regular);
    font-size: $font-18;
  }
  &__btn {
    @include font(inter, bold);
    font-size: $font-18;
  }
}

// !nav
.navbar {
  font-size: $font-14;
  &__menu-left {
    @include font(inter, medium);
  }
  &__menu-right {
    @include font(inter, semibold);
  }
}

// !header
.header {
}

// !sidebar
.filter {
  &__title {
    @include font(manrope, extrabold);
    font-size: $font-12;
  }
}

// !!pricing
.pricing {
  h2 + p {
    @include font(aileron, regular);
    font-size: $font-16;
  }
}

// !footer
footer {
  &__copyright,
  &__bottom {
    @include font(inter, regular);
    font-size: $font-12;
  }
}
