// pricing

.navbar {
  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }
}

.pricing {
  &__heading__text {
    color: $color-midgray;
  }

  &__plans__form {
    border: 1px solid $color-bonjour;
    background-color: $color-athensgray;

    .selection {
      color: $color-shipgray;
    }

    span {
      color: $color-coral;
    }
  }

  &__background {
    margin: 0 auto;
  }

  &__text {
    color: $color-mountainmist;
  }

  &__options:before,
  &__options:after {
    color: $color-spunpearl;
  }

  &__stacks__text {
    color: $color-shipgray;
  }

  &__old-price {
    color: $color-spunpearl;
    text-decoration: line-through;
  }

  &__traits__option {
    color: $color-spunpearl;
  }

  &__traits__option--marked {
    color: $color-shipgray;
  }

  .oval-check-filled {
    color: $color-carbbeangreen;
  }

  &__button {
    a {
      text-decoration: none;
    }
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .pricing {
    &__heading {
      padding: 6px 20px 0 20px;
      text-align: center;

      &__header {
        padding-bottom: 9px;
      }

      &__text {
        padding-bottom: 19px;
      }
    }

    &__background {
      width: 100%;
      height: 240px;
      margin: 0 20px;
    }

    &__plans {
      width: 100%;

      header h2 {
        padding: 28px 0 5px 0;
        text-align: center;
      }

      &__form {
        margin: 50px 4px; // !fix it
      }
    }

    &__payment {
      padding: 0 5px;

      .pricing__button {
        margin-top: 22px;
        display: flex;
        justify-content: center;
      }
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
  .pricing {
    padding: 0;
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .pricing {
    margin-bottom: 90px;
    &__heading {
      text-align: center;

      &__header {
        padding: 10px 100px 6px 100px;
      }
      &__text {
        padding: 0 100px 24px 100px;
      }
    }

    &__background {
      width: 100%;
      height: 260px;
      margin: 16px 6px 0 6px;
    }

    &__plans {
      header h2 {
        padding: 35px 120px 16px 120px;
        text-align: center;
      }

      &__form {
        margin: 0 86px;
      }
    }

    &__payment {
      padding: 0 3px;
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .pricing {
    margin-bottom: 90px;

    &__heading {
      margin: 166px 0 46px 0;
      text-align: left;

      &__header {
        padding: 4px 90px 0 84px;
      }

      &__text {
        padding: 20px 100px 3px 20px;
      }
    }

    &__background {
      width: 1140px;
      height: 450px;
    }

    &__plans {
      margin: 75px 0 0 0;

      header h2 {
        padding: 35px 120px 34px 120px;
      }

      &__form {
        margin: 0 20.5% 60px 20.5%;
      }
    }

    &__stacks {
      padding: 135px 0 0 0;
    }

    &__payment {
      padding: 0 11px 0 0;

      .pricing__button {
        margin-top: 32px;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  .pricing {
    margin-bottom: 278px;

    &__plans {
      header h2 {
        padding: 35px 220px 34px 220px;
      }

      &__form {
        margin: 0 24.9% 60px 24.9%;
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
