// footer

.footer {
  padding-bottom: 44px;
  &__brand {
    img {
      color: $color-coral;
    }
  }
  &__list > li > p {
    color: $color-shipgray;
  }
  &__list > li > a {
    color: $color-midgray;
  }

  &__language-bar {
    color: $color-midgray;
    display: flex;
    margin-left: auto;
    padding-right: 30px;
    p {
      padding-top: 5px;
      padding-right: 20px;
    }
    .dropdown-menu,
    button {
      margin-top: -20px;
      color: $color-midgray;
      background-color: transparent;
      border: 1px solid $color-bonjour;
      border-radius: 10px;
      &:hover,
      &:focus,
      &:active {
        background-color: $color-white;
      }
      .dropdown-menu {
        padding: 0;
        margin-top: 16px;
        background-color: $color-white;
      }

      .dropdown-item {
        background-color: $color-white;
        padding: 8px 0 5px 0;
        width: 50px;
        &:hover {
          background-color: $color-geyser;
        }
      }
    }
  }

  &__bottom-links ul li a {
    text-decoration: none !important;
  }

  &--sm {
    height: 64px;
    background-color: $color-white;
    .row {
      display: flex;
    }

    &__bottom-links {
      margin-left: auto;
    }
    &__bottom-links > ul {
      display: flex;
      li {
        padding-top: 6px;
        a {
          padding-left: 48px;
          @include transition($all);
          &:hover {
            @include transition($all);
            color: $color-rangoongreen;
            text-decoration: none;
          }
        }
      }
    }
    &__bottom-links a {
      color: $color-midgray;
    }
  }

  &--lg {
    // padding: 60px;
    &__brand {
      display: flex;
      flex-direction: column;
      padding: 7px 0 0 1px;
      img {
        width: 81px;
        height: 24px;
      }
      span {
        padding-top: 32px;
        color: $color-midgray;
      }
    }
    .footer__links {
      padding-bottom: 40px;
    }

    .footer__list {
      li {
        padding: 5px 0;
      }
      p {
        margin: 0;
        padding-bottom: 10px;
      }
      li > a {
        text-decoration: none;
        @include transition($all);
        &:hover {
          @include transition($all);
          color: $color-rangoongreen;
        }
      }
    }
    &__bottom {
      display: flex;
      padding-top: 19px;
      .footer__social-icons {
        a {
          text-decoration: none;
          padding-right: 12px;
          img {
            margin: auto;
          }
        }
      }
    }

    &__bottom-links {
      display: flex;
      margin-left: 5%;
      a {
        color: $color-midgray;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &__bottom-links > ul {
      display: flex;
      li {
        padding: 6px 24px;
        a {
          @include transition($all);
          &:hover {
            @include transition($all);
            color: $color-rangoongreen;
          }
        }
      }
    }
    .footer__language-bar {
    }
  }
}
