// nav

.navbar {
  width: 100%;
  height: 80px;
  padding: 16px 23px;

  .navbar-brand {
    padding: 0;
    margin: 0;
    color: $color-white;
  }

  &__list {
    padding: 0 22px;
  }

  &__menu-left {
    .navbar__link {
      color: $color-white;
      padding: 0 24px;
    }
  }
  &__menu-right {
    padding: 0 25px;
    .navbar__link {
      color: $color-white;
    }
  }
}
