// nav

.navbar {
  width: 100%;
  height: 80px;
  padding: 16px 23px;

  &__brand {
    padding: 0;
    margin: 0;
  }

  &__list {
    padding: 0 22px;
    li a {
      text-decoration: none;
    }
  }

  &__btn {
    a {
      text-decoration: none;
      @include transition($all);
      &:hover {
        color: $color-haiti;
        background-color: $color-spunpearl;
      }
    }
  }

  &__menu-left {
    .navbar__link {
      padding: 0 24px;
    }
  }
  &__menu-right {
    padding: 0 25px;
    .navbar__link {
    }
  }
}
