// company

.navbar {
  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }
}

.company {
  &__ratings > span {
    color: $color-shipgray;
  }

  &__ratings > .sort {
    color: $color-midgray;
  }

  &__benefits__top {
    header {
      color: $color-black;
    }
    p {
      color: $color-mountainmist;
    }
  }

  &__culture {
    border: 1px solid $color-bonjour;

    header {
      color: $color-black;
    }
    p {
      color: $color-shipgray;
    }
    a {
      color: $color-blazeorange;
      text-decoration: underline;
    }
  }

  &__contact {
    border: 1px solid $color-bonjour;

    .help {
      color: $color-midgray;
    }
    &__social-icons {
      a {
        padding: 0 2px;
      }
    }
  }

  &__vacancies {
    .search-employeers__result__top {
      border-bottom: 1px solid $color-bonjour;
    }
  }

  &__search-box {
    .input-search {
      color: $color-spunpearl;
    }

    .left:after {
      display: none;
    }
  }

  &__reviews {
    border: 1px solid $color-bonjour;
    margin-top: 20px;
    &__top {
      display: flex;

      .card__time {
        margin-left: auto;
      }
    }

    .review {
      color: $color-mountainmist;
    }

    &__search {
      input {
        color: $color-spunpearl;
      }
    }

    &__cards {
      border: 1px solid $color-bonjour;
    }
  }

  &__benefits {
    border: 1px solid $color-bonjour;
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .navbar {
    &--company {
      margin-bottom: 12px;
    }
  }

  .company {
    background: no-repeat url("../assets/img/company-dummy.png");
    margin: 0 10px;

    &__buttons {
      display: flex;
      justify-content: flex-end;
      padding: 12px 0 0 0;
      .btn_def--review {
        margin-right: 12px;
      }
    }

    &__body {
      margin-top: 115px;
    }

    &__culture {
      header,
      p,
      a {
        margin: 0 15px;
      }

      header {
        padding: 15px 0 9px 0;
      }
      p {
      }
      a {
        padding-bottom: 16px;
      }

      &__video {
        position: relative;
        height: 150px;
        overflow: hidden;
        margin: 15px 15px 15px 15px;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }

    &__contact {
      margin: 15px 0 20px 0;
      padding: 15px;

      header {
        padding-bottom: 6px;
      }

      &__social-icons {
        float: right;
        padding: 10px 15px 0 0;
      }
    }

    &__vacancies {
      border: 1px solid $color-bonjour;

      .card__descriptor {
        padding: 15px;
      }
    }

    // I reused the same component from search-employeers page
    .search-employeers__result__top {
      text-align: center;

      .filter__header {
        padding-top: 10px;
      }
    }

    &__reviews {
      padding: 12px 15px 0 15px;

      &__top {
        .card__time {
          padding-top: 5px;
        }
      }

      &__ratings {
        display: flex;
        justify-content: center;
        padding-top: 20px;

        &__right {
          padding: 3px 0 0 10px;

          button {
            padding: 0;
            text-decoration: none;
          }
          .review {
            padding: 4px 0 0 2px;
          }
        }
      }

      &__cards {
        padding: 0 14px;
      }
    }

    &__benefits {
      border: 1px solid $color-bonjour;
      margin: 20px 10px 35px 10px;
      padding: 15px 15px 9px 15px;

      &__top {
        header {
          padding-bottom: 8px;
        }

        p {
          padding-bottom: 14px;
        }
      }

      &__cards {
      }
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
  .navbar {
    .company {
      &__benefits {
        margin: 20px 0 35px 0;
      }
    }
  }

  .company {
    background: no-repeat url("../assets/img/company-dummy-sm.png") top center;
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .navbar {
    &--company {
      margin-bottom: 28px;
    }
  }

  .company {
    background: no-repeat url("../assets/img/company-dummy-md.png") top center;
    .container {
      padding: 0 20px;
    }

    &__buttons {
      .btn_def--review {
        margin: 0;
      }
    }

    &__culture {
      margin: 30px 0 20px 0;
      padding: 0 2px 5px 2px;
      header {
      }
      p {
      }
      a {
      }
    }

    &__contact {
      padding: 16px 16px 10px 20px;
      &__social-icons {
        padding-top: 7px;

        a {
          padding: 0 4px;
        }
      }
    }

    &__vacancies {
      margin: 10px 0 30px 0;

      padding: 20px 30px 19px 30px;

      .card__descriptor {
        padding: 0 0 18px 0;
      }

      .card--boards:first-child {
        margin-top: 15px;
      }
    }

    &__reviews {
      margin: 0 0 0 0;
      padding: 22px 30px 16px 30px;
      border-bottom: none;
      &__top {
        display: flex;
        padding: 0 8px 12px 0;
      }

      &__body {
        height: 44px;
      }

      &__ratings {
        justify-content: flex-start;
        float: left;
        width: 28%;
        padding: 0;

        .rating {
          padding-top: 8px;
        }
      }

      &__search {
        float: right;
        width: 72%;
      }

      &__cards {
        padding: 24px 30px;
      }
    }

    // I reused the same component from search-employeers page
    .search-employeers__result__top {
      padding: 0 0 20px 0;
      margin: 20px 0 0 0;
      .btn-group-top {
        display: flex;
        justify-content: space-between;
      }
      .filter__header {
        padding: 0 0 0 14px;
      }

      button {
        padding: 0 11px 0 4px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .navbar {
    &--company {
      position: absolute;
      top: 0;
      width: 100%;
      margin-bottom: 24px;
    }
  }
  .company {
    background: no-repeat url("../assets/img/company-dummy-lg.png");
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
