// company

.navbar {
  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }
}

.company {
  background-color: red;
  &__ratings > span {
    color: $color-shipgray;
  }

  &__ratings > .sort {
    color: $color-midgray;
  }

  &__benefits__top {
    header {
      color: $color-black;
    }
    p {
      color: $color-mountainmist;
    }
  }

  &__culture {
    border: 1px solid rgba($color-bonjour, 0.5);

    header {
      color: $color-black;
    }
    p {
      color: $color-shipgray;
    }
    a {
      color: $color-blazeorange;
      text-decoration: underline;
    }
  }

  &__contact {
    border: 1px solid rgba($color-bonjour, 0.5);
    .help {
      color: $color-midgray;
    }
    &__social-icons {
      a {
        padding: 0 2px;
      }
    }
  }

  &__vacancies {
    .search-employeers__result__top {
      border-bottom: 1px solid rgba($color-bonjour, 0.5);
    }
  }

  &__search-box {
    .input-search {
      color: $color-spunpearl;
    }

    .left:after {
      display: none;
    }
  }

  &__reviews {
    border: 1px solid rgba($color-bonjour, 0.5);
    margin-top: 20px;
    &__top {
      display: flex;

      .card__time {
        margin-left: auto;
      }
    }

    .review {
      color: $color-mountainmist;
    }

    &__search {
      input {
        color: $color-spunpearl;
      }
    }

    &__cards {
      border: 1px solid rgba($color-bonjour, 0.5);
    }
  }

  &__benefits {
    border: 1px solid rgba($color-bonjour, 0.5);
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .navbar {
    &--company {
      margin-bottom: 12px;
    }
  }

  .company {
    background: no-repeat url("../assets/img/company-dummy.png");
    margin: 0 10px;

    &__buttons {
      display: flex;
      justify-content: flex-end;
      padding: 12px 0 0 0;
      .btn_def--review {
        margin-right: 12px;
      }
    }

    &__body {
      margin-top: 115px;
    }

    &__culture {
      header,
      p,
      a {
        margin: 0 15px;
      }

      header {
        padding: 15px 0 9px 0;
      }

      a {
        padding-bottom: 16px;
      }

      &__video {
        position: relative;
        height: 150px;
        overflow: hidden;
        margin: 15px 15px 15px 15px;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }

    &__contact {
      margin: 15px 0 20px 0;
      padding: 15px;

      header {
        padding-bottom: 6px;
      }

      &__social-icons {
        float: right;
        padding: 10px 15px 0 0;
      }
    }

    &__vacancies {
      border: 1px solid rgba($color-bonjour, 0.5);
      .card__descriptor {
        padding: 15px;
      }
    }

    &__reviews {
      padding: 12px 15px 0 15px;

      .btn-group-top {
        text-align: center;

        .filter__header {
          padding-top: 6px;
        }
      }

      &__top {
        .card__time {
          padding-top: 5px;
        }
      }

      &__ratings {
        display: flex;
        justify-content: center;
        padding-top: 20px;

        &__right {
          padding: 3px 0 0 10px;

          button {
            padding: 0;
            text-decoration: none;
          }
          .review {
            padding: 4px 0 0 2px;
          }
        }
      }

      &__cards {
        padding: 0 14px;
      }
    }

    &__benefits {
      border: 1px solid rgba($color-bonjour, 0.5);
      margin: 20px 10px 20px 10px;
      padding: 15px 15px 9px 15px;

      &__top {
        header {
          padding-bottom: 8px;
        }

        p {
          padding-bottom: 18px;
        }
      }
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
  .navbar {
    &--company {
      &__benefits {
        margin: 20px 0 35px 0;
      }
    }
  }

  .company {
    background: no-repeat url("../assets/img/company-dummy-sm.png") top center;

    &__reviews {
      .search-employeers__result__top {
        .btn-group-top {
          .showing {
            padding-right: 22px;
          }
        }
      }
    }

    &__benefits {
      margin: 24px 0;
    }
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .navbar {
    &--company {
      margin-bottom: 28px;
    }
  }

  .company {
    background: no-repeat url("../assets/img/company-dummy-md.png") top center;
    .container {
      padding: 0 20px;
    }

    &__buttons {
      .btn_def--review {
        margin: 0;
      }
    }

    &__culture {
      margin: 30px 0 20px 0;
      padding: 0 2px 5px 2px;
    }

    &__contact {
      padding: 16px 16px 10px 20px;
      &__social-icons {
        padding-top: 7px;

        a {
          padding: 0 4px;
        }
      }
    }

    &__vacancies {
      margin: 10px 0 30px 0;
      padding: 20px 30px 19px 30px;

      .card__descriptor {
        padding: 0 0 18px 0;
      }

      .card--boards:first-child {
        margin-top: 15px;
      }
    }

    &__reviews {
      padding: 22px 30px 0 30px;
      border-bottom: none;
      &__top {
        display: flex;
        padding: 0 8px 0 0;
        margin: 0;
      }

      &__body {
        height: 44px;
      }

      &__ratings {
        justify-content: flex-start;
        float: left;
        width: 28%;
        padding: 0;

        .rating {
          padding-top: 8px;
        }
      }

      &__search {
        float: right;
        width: 72%;
      }

      &__cards {
        padding: 24px 30px;
      }

      .search-employeers__result__top {
        padding: 17px 0 17px 0;

        .btn-group {
          margin-top: -2px;
        }

        .btn-group-top {
          text-align: left;
        }

        .filter__header {
          padding: 0 4px 0 30px;
        }
      }
    }

    &__benefits {
      margin: 30px 5px 47px 5px;
      padding: 15px 17px 0 30px;
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .navbar {
    &--company {
      position: absolute;
      top: 0;
      width: 100%;
      margin-bottom: 24px;
    }
  }

  .company {
    background: no-repeat url("../assets/img/company-dummy-lg.png") 52.2% 2.9%;
    padding-top: 157px;

    &__buttons {
      padding: 26px 0 0 5px;
      margin-left: -6px;

      .btn_def--review {
        margin: 0 0 0 -5px;
      }
    }

    &__vacancies {
      padding: 20px 32px 20px 30px;
      margin: -38px 0 32px 0;

      .card__descriptor {
        padding: 0 0 32px 0;
      }

      .card--boards:first-child {
        margin-top: 16px;
      }
    }

    &__right {
      margin-left: 30px;
      width: 95%;
    }

    &__culture {
      margin: 56px 0 32px 0;
      padding: 20px 24px 24px 22px;

      header,
      p,
      a,
      &__video {
        padding: 0;
        margin: 0;
      }

      p {
        padding: 14px 0 5px 0;
      }

      a {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 5px;
      }

      &__video {
        height: 190px;
        iframe {
          height: 100%;
        }
      }
    }

    &__contact {
      padding: 20px 24px 21px 24px;

      &__social-icons {
        padding: 11px 11px 12px 0;
      }
    }

    &__reviews {
      padding: 29px 32px 8px 32px;

      &__top {
        padding: 0 0 12px 0;

        .card__time {
          padding-top: 7px;
        }
      }

      &__body {
        padding: 10px 0;
      }

      &__search {
        width: 72%;
        .search-box__searchInput {
          .input {
            width: 64.6%;
          }
        }
      }

      &__ratings__right {
        padding: 5px 0 0 7px;
        .review {
          padding: 0 0 0 2px;
        }
      }

      .search-employeers__result__top {
        margin-top: 18px;

        .btn-group-top {
          .filter__header {
            padding: 5px 6px 4px 28px;
            margin-left: auto;
          }
        }
      }

      &__cards {
        padding: 21px 32px;
      }
    }

    &__benefits {
      margin: 32px 0 82px 0;
      padding: 0;

      &__top {
        padding: 30px 32px 0 32px;

        header {
          padding-bottom: 10px;
        }

        p {
          padding-bottom: 8px;
        }
      }

      &__cards {
        padding: 18px 32px 32px 32px;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  .company {
    background: no-repeat url("../assets/img/company-dummy-lg.png") 52.5% 2.9%;
  }
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
  .company {
    background: no-repeat url("../assets/img/company-dummy-lg.png") 50.32% 2.9%;
  }
}

@media (min-width: 2000px) {
  .company {
    background: no-repeat url("../assets/img/company-dummy-lg.png") 50.22% 2.9%;
  }
}
