// company

.navbar {
  &--company {
    margin-bottom: 18px;
  }

  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }
}

.company {
  background: url("/assets/img/company-dummy.png");
  background-repeat: no-repeat;

  &__ratings > span {
    color: $color-shipgray;
  }

  &__ratings > .sort {
    color: $color-midgray;
  }

  &__benefits__top {
    header {
      color: $color-black;
    }
    p {
      color: $color-mountainmist;
    }
  }

  &__culture {
    border: 1px solid $color-bonjour;

    header {
      color: $color-black;
    }
    p {
      color: $color-shipgray;
    }
    a {
      color: $color-blazeorange;
      text-decoration: underline;
    }
  }

  &__contact {
    border: 1px solid $color-bonjour;
    header + div {
      color: $color-midgray;
    }
    &__social-icons {
      a {
        padding: 0 2px;
      }
    }
  }

  &__reviews {
    border: 1px solid $color-bonjour;
    margin-top: 20px;
    &__top {
      display: flex;

      .card__time {
        margin-left: auto;
      }
    }

    .review {
      color: $color-mountainmist;
    }

    &__search {
      input {
        color: $color-spunpearl;
      }
    }

    &__cards {
      border: 1px solid $color-bonjour;
    }
  }

  &__vacancies {
    .search-employeers__result__top {
      border-bottom: 1px solid $color-bonjour;
    }
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .company {
    margin: 0 10px;

    &__buttons {
      display: flex;
      justify-content: flex-end;
      padding: 12px 0 0 0;
      .btn_def--review {
        margin-right: 12;
      }
    }

    &__body {
      margin-top: 115px;
    }

    &__culture {
      header,
      p,
      a {
        margin: 0 15px;
      }

      header {
        padding: 15px 0 9px 0;
      }
      p {
      }
      a {
        padding-bottom: 16px;
      }

      &__video {
        position: relative;
        height: 150px;
        overflow: hidden;
        margin: 15px 15px 15px 15px;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }

    &__contact {
      margin: 15px 0 20px 0;
      padding: 15px;

      header {
        padding-bottom: 6px;
      }

      &__social-icons {
        float: right;
        padding: 10px 15px 0 0;
      }
    }

    &__vacancies {
      border: 1px solid $color-bonjour;

      .card__descriptor {
        padding: 15px;
      }
    }

    &__search-box {
      .input-search {
        color: $color-spunpearl;
      }
    }

    // I reused the same component from search-employeers page
    .search-employeers__result__top {
      text-align: center;

      .filter__header {
        padding-top: 6px;
      }
    }

    &__reviews {
      padding: 12px 15px 0px 15px;

      &__top {
        .card__time {
          padding-top: 5px;
        }
      }

      &__ratings {
        display: flex;
        padding: 20px 0 0 50px;

        &__right {
          padding: 3px 0 0 10px;

          button {
            padding: 0;
            text-decoration: none;
          }
          .review {
            padding: 4px 0 0 2px;
          }
        }
      }

      .search-box {
        margin: 0;
        padding-top: 20px;
        box-shadow: none;
        &__searchInput {
          padding: 0;

          .input {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 0;
            border: 1px solid $color-bonjour;

            input {
              border: none;
            }

            .oval-search {
              padding: 9px 11px;
              font-size: 16px;
            }
          }
        }
      }

      &__cards {
        padding: 18px 16px;
      }
    }

    &__benefits {
      border: 1px solid $color-bonjour;
      padding: 15px 15px 9px 15px;

      &__top {
        header {
          padding-bottom: 6px;
        }

        p {
          padding-bottom: 14px;
        }
      }

      &__cards {
      }
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
