// pricing

.navbar {
  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }
}

.pricing {
  &__heading__text {
    color: $color-midgray;
  }

  &__plans__form {
    border: 1px solid $color-bonjour;
    background-color: $color-athensgray;

    .selection {
      color: $color-shipgray;
    }
    span {
      color: $color-coral;
    }
  }

  &__background {
    background: url("/assets/img/pricing-dummy.jpg") no-repeat;
    margin: 0 auto;
  }

  &__text {
    color: $color-mountainmist;
  }

  &__stacks__title {
    color: $color-spunpearl;
  }

  &__stacks__text {
    color: $color-shipgray;
  }

  &__old-price {
    color: $color-spunpearl;
    text-decoration: line-through;
  }

  &__traits__option {
    color: $color-spunpearl;
  }

  &__traits__option--marked {
    color: $color-shipgray;
  }

  .oval-check-filled {
    color: $color-carbbeangreen;
  }

  &__button {
    a {
      text-decoration: none;
    }
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .pricing {
    padding: 0 20px;
    &__background {
      width: 100%;
      height: 240px;
    }

    &__plans__form {
      padding: 11px 0;
      margin: 0 5px;
      text-align: center;

      form {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 100%;

        .left,
        .right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 6px 0;

          .text {
            display: flex;
            flex-direction: column;

            .selection {
              padding: 12px 0 4px 0;
            }
          }
        }

        .left::after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          background-color: $color-bonjour;
          width: 1px;
          height: 75px;
        }
      }
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
  .pricing {
    padding: 0;
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .pricing {
    &__background {
      width: 100%;
      height: 260px;
    }

    &__plans__form {
      margin: 0 87px;
      padding: 9px 0;

      form {
        align-items: center;

        .left,
        .right {
          flex-direction: row;
          justify-content: flex-start;
          padding: 6px 0 6px 24px;

          .text {
            .selection {
              padding: 0 0 6px 16px;
            }

            span {
              padding-left: 16px;
              text-align: left;
            }
          }
        }

        .left::after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          background-color: $color-bonjour;
          width: 1px;
          height: 46px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .pricing {
    &__background {
      width: 1140px;
      height: 450px;
    }

    &__plans__form {
      margin: 0 24.9%;
      padding: 14px 0 17px 0;

      form {
        .left,
        .right {
          padding: 4px 0 4px 24px;

          .text {
            .selection {
              padding: 0 0 0 16px;
            }
          }
        }

        .left::after {
          height: 60px;
        }
      }
    }

    &__stacks {
      padding: 135px 0 0 0;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
