// breakpoints

@media (min-width: 320px) and (max-width: 576px) {
  body {
    background-color: rosybrown;
  }

  h1 {
    font-size: $font-34;
    text-align: center;
    line-height: 46px;
  }

  // !components
  .search-box {
    &__searchInput {
      display: block;
    }
  }

  // !pages
  .homepage {
    &__header,
    &__heading {
      padding: 0 20px;
    }
    &__text {
      font-size: $font-12;
      text-align: center;
      line-height: 22px;
    }
    &__trending {
      &__left {
        display: flex;
      }
      &__right {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &__daily__cards {
      // homepage-daily cards // cards hidden on this resulotion
      .only-visible-lg {
        display: none;
      }
      .only-visible-md {
        display: none;
      }
    }
  }
}

// Small devices (phone, 577px and up)
@media (min-width: 577px) and (max-width: 768px) {
  body {
    background-color: green;
  }

  h1 {
    font-size: $font-56;
    text-align: left;
  }

  // !components
  .search-box {
  }

  // !pages
  .homepage {
    &__daily__cards {
      // homepage-daily cards // cards hidden on this resulotion
      .only-visible-lg {
        display: none;
      }
      .only-visible-md {
        display: none;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: limegreen;
  }

  h1 {
    font-size: $font-56;
    text-align: left;
  }

  // !components
  .search-box {
  }

  // !pages
  .homepage {
    &__how-works {
    }
    &__daily__cards {
      // homepage-daily cards // cards hidden on this resulotion
      .only-visible-lg {
        display: none;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body {
    background-color: wheat;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
