// company

.navbar {
  margin-bottom: 18px;
  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }
}

.company {
  background: url("/assets/img/company-dummy.png");
  background-repeat: no-repeat;

  &__ratings > span {
    color: $color-shipgray;
  }
  &__ratings > .sort {
    color: $color-midgray;
  }
  &__benefits__top {
    header {
      color: $color-black;
    }
    p {
      color: $color-mountainmist;
    }
  }
  &__culture {
    border: 1px solid $color-bonjour;

    header,
    p,
    a {
      margin: 0 15px;
    }

    header {
      padding: 15px 0 9px 0;
      color: $color-black;
    }
    p {
      color: $color-shipgray;
    }
    a {
      padding-bottom: 16px;
      color: $color-blazeorange;
      text-decoration: underline;
    }

    &__video {
      position: relative;
      padding-bottom: 56.25%; /*16:9*/
      height: 0;
      overflow: hidden;
      margin: 15px 15px 0 15px;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
      }
    }
  }
  &__contact {
    header {
      color: $color-black;
    }
    div {
      color: $color-midgray;
    }
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .company {
    margin: 0 10px;

    &__buttons {
      display: flex;
      justify-content: flex-end;
      padding: 12px 0 0 0;
      .btn_def--review {
        margin-right: 12;
      }
    }

    &__body {
      margin-top: 115px;
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
