// homepage

.header-homepage {
  width: auto;
  height: 603px;
  background: url("../assets/img/bg-homepage.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: $color-corduroy;

  .navbar {
    &__brand > img {
      color: $color-white;
    }

    &__menu-left,
    &__menu-right {
      .navbar__link {
        color: $color-white;
        @include transition($all);
        &:hover {
          @include transition($all);
          color: $color-nebula;
        }
      }
    }
  }

  .homepage {
    .container {
      padding: 0;
    }
    &__heading {
      padding: 85px 520px 0 0;
      color: $color-white;
    }
    &__header {
      color: $color-white;
    }
    &__text {
      padding: 21px 0 108px 0;
    }
    &__trending__left {
      p {
        color: $color-shipgray;
      }
      a {
        color: $color-blazeorange;
      }
    }
  }
}

.homepage {
  &__trending {
    display: flex;
    padding: 81px 0 86px 0px;
    left: 50;
    background-color: $color-geyser;

    &__left {
      padding-right: 35px;
      p {
        margin: 0;
        padding-top: 16px;
        color: $color-shipgray;
        white-space: nowrap;
      }
      a {
        color: $color-blazeorange;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__right {
      a {
        margin: 0px 8px 8px 0;
        color: $color-midgray;
        text-decoration: none;
        @include transition($all);
        &:hover {
          color: $color-white;
          background-color: $color-corduroy;
        }
      }
    }
  }

  &__how-works > p {
    color: $color-mountainmist;
  }
  &__how-works > ul > li > p {
    color: $color-black;
  }
  &__how-works > ul > li > p > i {
    color: $color-spunpearl;
  }
  &__how-works > ul > li > p > span {
    color: $color-blazeorange;
  }
  &__how-works {
    ul {
      list-style: none;
    }
  }
  &__daily__explore {
    div {
      color: $color-haiti;
    }
  }
  &__clients__post-job {
    p {
      color: $color-shipgray;
    }
    a {
      color: $color-blazeorange;
    }
  }
  &__clients__text {
    color: $color-shipgray;
  }
}

.search-box__top {
}
