// pricing

.navbar {
  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }
}

.pricing {
  &__heading__text {
    color: $color-midgray;
  }
  &__plans__form {
    .selection {
      color: $color-shipgray;
    }
    span {
      color: $color-coral;
    }
  }
  &__text {
    color: $color-mountainmist;
  }
  &__stacks__title {
    color: $color-spunpearl;
  }
  &__stacks__text {
    color: $color-shipgray;
  }
  &__old-price {
    color: $color-spunpearl;
    text-decoration: line-through;
  }
  &__traits__option {
    color: $color-spunpearl;
  }
  &__traits__option--marked {
    color: $color-shipgray;
  }
  .oval-check-filled {
    color: $color-carbbeangreen;
  }
  &__button {
    a {
      text-decoration: none;
    }
  }
}

// ###################
// RESPONSIVE
// ###################

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) and (max-width: 576px) {
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) and (max-width: 768px) {
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
