// search-jobs-one

.header-srOne {
  width: auto;
  height: 241px;
  background: url("../assets/img/bg-searchone.svg");
  background-color: $color-nebula;
  background-repeat: no-repeat;

  .navbar {
    &__menu-left > a,
    &__menu-right > a {
      color: $color-shipgray;
    }
  }
}

// ###################
// RESPONSIVE
// ###################

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) and (max-width: 576px) {
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) and (max-width: 768px) {
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
