// search-jobs-two

.navbar {
  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }
}

.srjTwo {
  &__location {
    padding: 23px 14px 10px 10px;
    header {
      padding-bottom: 15px;
      color: $color-black;
    }

    .price {
      padding: 16px 8px;
      color: $color-midgray;
      i {
        padding-right: 8px;
      }
    }
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
