// search-jobs-two

.navbar {
  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }

  &__btn .btn_def {
    border: 1px solid $color-mischka;
  }
}

.srjTwo {
  &__location {
    header {
      color: $color-black;
    }

    &__price {
      color: $color-midgray;
    }
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .navbar {
    padding: 20px 8px 20px 24px;
  }

  .srjTwo {
    padding: 0 10px;

    &__location {
      height: 275px;
      padding: 27px 20px 15px 20px;

      header {
        padding-left: 10px;
      }

      &__image {
        height: 100%;
        background: url("../../assets/img/search-jobs-two-dummy-sm.png");
        background-repeat: no-repeat;
        background-position: center top;
        margin-top: 14px;
      }

      &__bottom {
        margin-top: 100px;
      }

      &__price {
        display: flex;
        flex-direction: row;
        align-content: center;
        i {
          font-size: 19px;
          padding-right: 7px;
        }
      }
    }

    &__similiar-jobs {
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .srjTwo {
    &__job-details {
      margin-top: 30px;
    }

    &__location {
      height: 100%;
      padding: 23px 14px 10px 10px;
      margin-top: 20px;

      header {
        padding: 10px 0 18px 12px;
      }

      &__image {
        height: 100%;
        background: url("../assets/img/search-jobs-two-dummy-md.png");
        background-repeat: no-repeat;
        background-position: center right;
        margin-right: 23px;
      }

      &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 12px 23px 0 0;
      }

      &__price {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 11px;

        i {
          padding-right: 8px;
          font-size: 20px;
        }
      }

      &__btn {
        padding-top: 2px;
      }
    }

    &__similiar-jobs {
      margin: 92px 0 55px 0;
      header {
        padding: 60px 0 20px 0;
      }
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .srjTwo {
    &__job-details {
      margin-top: 30px;
    }

    &__location {
      height: 100%;
      padding: 23px 14px 10px 10px;
      margin-top: 20px;

      header {
        padding: 10px 0 18px 12px;
      }

      &__image {
        height: 100%;
        background: url("../assets/img/search-jobs-two-dummy-lg.png");
        background-repeat: no-repeat;
      }

      &__bottom {
        display: block;
        position: absolute;
        top: 220px;
      }

      &__price {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px 10px 14px 12px;
        color: $color-midgray;
        i {
          padding-right: 8px;
          font-size: 20px;
        }
      }
    }

    &__similiar-jobs {
      margin-bottom: 70px;
      header {
        padding: 60px 0 20px 0;
      }

      // same cards with the homepage(card--daily) but size changes on the md size
      .card--daily {
        min-width: 80%;
        min-height: 25vh;

        .card__body {
          padding: 1px 20px 0 23px;
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
