// search-jobs-two

.navbar {
  &__menu-left > a,
  &__menu-right > a {
    color: $color-shipgray;
  }

  &__btn .btn_def {
    border: 1px solid $color-mischka;
  }
}

.srjTwo {
  &__location {
    header {
      color: $color-black;
    }

    &__price {
      color: $color-midgray;
    }
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .srjTwo {
    &__job-details {
      margin-top: 30px;
    }

    &__location {
      height: 100%;
      padding: 23px 14px 10px 10px;
      margin-top: 20px;

      header {
        padding: 10px 0 18px 12px;
        color: $color-black;
      }

      &__image {
        height: 100%;
        background: url("../assets/img/search-jobs-two-dummy-lg.png");
        background-repeat: no-repeat;
      }

      &__bottom {
        position: absolute;
        top: 220px;
      }

      &__price {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px 10px 14px 12px;
        color: $color-midgray;
        i {
          padding-right: 8px;
          font-size: 20px;
        }
      }
    }

    &__similiar-jobs {
      margin-bottom: 70px;
      header {
        padding: 60px 0 20px 0;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
