// homepage

// * header
.header-homepage {
  width: auto;
  height: 603px;
  background: url("../assets/img/bg-homepage.svg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-color: $color-corduroy;

  // * nav
  .navbar {
    &__brand > img {
      color: $color-white;
    }

    &__menu-left,
    &__menu-right {
      .navbar__link {
        color: $color-white;
        @include transition($all);
        &:hover {
          @include transition($all);
          color: $color-rangoongreen;
        }
      }
    }
  }

  // * hero
  .homepage {
    .container {
      padding: 0;
    }
    &__heading {
      color: $color-white;
    }
    &__header {
      color: $color-white;
    }
    &__text {
      padding-top: 13px;
    }
    &__trending__left {
      p {
        color: $color-shipgray;
      }
      a {
        color: $color-blazeorange;
      }
    }
  }
}

.homepage__header__image {
  position: absolute;
  top: 143px;
  right: 0;
}

// * main
.homepage {
  // * trending

  &__trending {
    display: flex;
    height: 247px;
    padding: 81px 0 86px 0px;
    background-color: $color-geyser;

    &__left {
      padding-right: 35px;

      p {
        padding-top: 14px;
        color: $color-shipgray;
        white-space: nowrap;
      }
      a {
        color: $color-blazeorange;
        text-decoration: underline;
        text-underline-position: under;
        padding-bottom: 1px;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    // how works-buttons
    &__right {
      display: flex;
      a {
        margin: 0px 8px 8px 0;
        color: $color-midgray;
        text-decoration: none;
        @include transition($all);
        &:hover {
          color: $color-white;
          background-color: $color-corduroy;
        }
      }
    }
  }
  // * how works

  &__how-works {
    height: 286px;
    width: 100%;
    padding: 139px 0 116px 0;
    &__text {
      color: $color-mountainmist;
      white-space: nowrap;
    }
    ul {
      display: flex;
      list-style: none;
    }
    &__item {
      display: flex;
      margin: 5px 0;
      white-space: nowrap;
      padding: 0 30px;
      p {
        padding-top: 2px;
      }
      .profile {
        color: $color-black;
      }
      .oval-right {
        margin-top: 5px;
        padding-right: 20px;
        font-size: $font-12;
        color: $color-spunpearl;
      }
      .number {
        margin-bottom: 5px;
        padding: 0 25px 0 50px;
        color: $color-blazeorange;
      }
    }
  }

  // * daily

  &__daily {
    height: 1181px;
    width: 100%;
    &__top {
      display: flex;
      width: 100%;
      &__heading {
        h2 {
          padding-right: 200px;
        }
      }
      &__category {
        display: flex;
        align-items: center;
        button {
          padding: 0;
          padding-left: 5px;
          box-shadow: none;
          outline: none;
        }
      }
    }

    &__explore {
      padding: 34px;
      margin: auto;
      white-space: nowrap;
      div.number {
        padding-bottom: 15px;
        color: $color-haiti;
      }
      a {
        text-underline-position: under;
      }
      &__category {
        .sort-by {
          margin-left: 30px;
        }
        a {
          padding-left: 5px;
          color: $color-shipgray;
          @include transition($all);
          &:hover {
            @include transition($all);
            color: $color-black;
          }
        }
        img {
          width: 24px;
          height: auto;
          transform: rotate(270deg);
          text-decoration: none;
        }
      }
    }
  }

  // * testimonial

  &__testimonial {
    height: 818px;
    background: url("../assets/img/bg-testimonial.svg");
    background-position: 0px 0px;
    background-repeat: no-repeat;

    &__blockquote-card {
      position: relative;

      #carousel-homepage {
        background: url(/assets/img/testimonial-dummy.png);
        background-repeat: no-repeat;
        padding: 55px;

        // carousel-card and background
        .carousel-inner {
          width: 50.5%;
          height: auto;
          @include box-shadow($card-testimonial);
        }

        // carousel-indicators
        .carousel-indicators {
          display: flex;
          position: absolute;
          width: 20%;
          z-index: 10;
          li.active {
            background-color: $color-spunpearl;
          }
          li {
            width: 38px;
            height: 4px;
            background-color: $color-bonjour;
          }
        }

        // carousel-control buttons
        .controls {
          .carousel-control-prev,
          .carousel-control-next {
            display: none;
          }
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 120px;
      left: 0;
      z-index: -50;
      background-color: rgb(248, 248, 250);
    }
  }

  // * clients

  &__clients {
    background: url(/assets/img/clients-bg.jpg);
    background-repeat: no-repeat;
    background-color: $color-aquahaze;
    &__heading {
    }
    &__body {
    }
    &__post-job {
      p {
        color: $color-shipgray;
      }
      a {
        color: $color-blazeorange;
      }
    }
    &__cards {
    }
    &__text {
      color: $color-shipgray;
    }
    &__bottom {
      &--logos {
        ul {
          display: flex;
        }
        li {
          list-style: none;
        }
      }
      p {
        text-align: center;
      }
    }

    #carousel-clients {
    }
  }

  // clients-bg color
  .jumbotron {
    padding: 0;
    background-color: $color-aquahaze;
  }

  // * find job

  &__find-job {
    display: flex;

    &__title {
      button {
        color: $color-black;
      }
    }
    &__btn {
      display: flex;
    }
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) and (max-width: 576px) {
  .header-homepage {
    height: 850px;
  }
  .homepage {
    &__heading {
      margin-top: 20px;
      height: 200px;
    }

    &__header {
      padding: 0 14px;
    }

    &__header__image {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      margin-top: 114px;

      img {
        object-fit: cover;
        min-width: 300px;
        width: 90%;
        height: 236px;
        overflow: hidden;
      }
    }

    &__text {
      padding: 0 12px;
      text-align: center;
    }

    &__trending {
      height: 198px;
      padding: 16px 14px 22px 12px;
      &__left {
        display: flex;
        padding: 0;
        p {
          padding: 0;
          padding-bottom: 16px;
        }
        a {
          margin-left: auto;
          padding-top: 2px;
        }
      }
      &__right {
        display: flex;
        padding: 0;
      }
    }

    &__how-works {
      height: 217px;
      padding: 24px 0 26px 20px;
      &__text {
        padding-bottom: 10px;
      }
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-left: 12px;
      }
      &__item {
        padding: 0;
        padding: 5px 0;
        .number {
          padding: 0;
          padding-right: 30px;
          margin: 0;
        }
        .oval-right {
          position: absolute;
          left: 210px;
          margin-top: -40px;
        }
      }
    }

    &__daily {
      height: 1216px;
      padding-bottom: 70px;
      .container {
        padding: 0;
      }
      &__top {
        height: 147px;
        padding: 18px 0 10px 0;
        &__heading {
          padding: 0 40px;
          text-align: center;
          h2 {
            padding: 0;
          }
        }
        &__category {
          display: flex;
          justify-content: center;
          margin-left: 20px;
          .sort-by {
            white-space: nowrap;
          }
          .dropdown-toggle {
            padding-left: 3px;
          }
        }
      }
      &__job-board {
        .row {
          margin: 0;
          padding: 0;
        }
      }
      &__explore {
        display: grid;
        place-content: center;
        padding: 20px 0 0 0;
        div.number {
          display: flex;
          justify-content: center;
        }
      }
    }

    &__testimonial {
      height: 853px;
      padding-top: 70px;
      background-position: center;
      .container {
        max-width: 100%;
        margin: 0;
      }
      &__blockquote-card {
        #carousel-homepage {
          padding: 0;
          background-size: auto 390px;
          // carousel-card and background
          .carousel-inner {
            min-width: 90%;
            height: auto;
            margin: 0 auto 0 auto;
            padding-top: 371px;
            .carousel-item {
            }
          }

          // carousel-indicators
          .carousel-indicators {
            width: 20%;
            bottom: 113px;
            left: 487px;
          }

          // carousel-control buttons
          .controls {
            .carousel-control-prev {
              span {
              }
            }
            .carousel-control-next {
              span {
              }
            }
          }
        }
      }

      .quote {
        display: grid;
        place-items: center;
      }
    }

    &__clients {
      background-size: 92%;
      background-position: 50% 42%;
      background-size: 95% auto;

      &__heading {
        padding: 20px 50px 20px 50px;
        margin: 0;
        text-align: center;
      }
      &__body {
        text-align: center;
        padding: 0 20px;
        margin-top: -20px;
      }
      &__post-job {
        p {
          margin-bottom: 12px;
        }
      }
      &__bottom {
        padding: 0 30px;
        &--logos {
          .row {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            padding: 10px 0;
            &--bottom {
              margin-left: -40px;
            }
          }

          a {
            display: grid;
            place-items: center;
          }
          img {
            width: 60%;
          }
        }
        p {
          padding-top: 18px;
        }
      }
      .owl-carousel {
        margin-top: 220px;
        .owl-item {
          width: 100%;
        }
      }
    }

    &__find-job {
      display: flex;
      justify-content: center;
      height: 184px;
      padding: 0 21%;
      margin: 40px 0;

      button {
        padding: 0;
      }

      &__btn {
        display: flex;
        justify-content: center;
        margin-top: -22px;
      }
    }
  }
}

@media (min-width: 370px) and (max-width: 458px) {
  .homepage {
    &__clients {
      background-position: 50%;
      background-size: auto 300px;
    }
  }
}

@media (min-width: 459px) and (max-width: 576px) {
  .homepage {
    &__clients {
      background-position: 50% 60%;
      background-size: auto 280px;
      .owl-carousel {
        margin-top: 180px;
        .owl-item {
          width: 100%;
        }
      }
    }
  }
}

// Small devices (phone, 577px and up)

@media (min-width: 577px) and (max-width: 767px) {
  .header-homepage {
    height: 975px;
  }
  .homepage {
    &__heading {
      padding: 22px 0px 200px 0px;
    }

    &__header__image {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      margin-top: 160px;
      img {
        object-fit: cover;
        width: 540px;
        height: 300px;
        overflow: hidden;
      }
    }

    &__text {
      text-align: center;
    }

    &__trending {
      height: 168px;
      padding: 12px 20px 0px 20px;
      &__left {
        display: block;
        padding: 0;
        padding-top: 50px;

        p {
          padding-bottom: 12px;
        }

        a {
          margin-left: auto;
          padding: 12px 0 39px 0;
        }
      }

      &__right {
        .row {
          justify-content: end;
        }
      }
    }

    &__how-works {
      height: 225px;
      padding: 24px 0px 22px 0px;
      &__text {
        padding-bottom: 10px;
      }
      ul {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 0;
      }
      &__item {
        padding: 4px 0;
        .number {
          padding: 0;
          padding-right: 30px;
          margin: 0;
        }
        .oval-right {
          position: absolute;
          left: 225px;
          margin-top: -40px;
        }
      }
    }

    &__daily {
      margin-bottom: 200px;
      &__top {
        height: 147px;
        padding: 20px 19px 24px 19px;
        h2 {
          padding: 0;
          padding-left: 24px;
          text-align: center;
        }

        &__category {
          justify-content: center;
        }
      }

      &__explore {
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        div.number {
          margin: auto;
        }
        &__bottom {
          display: flex;
          justify-content: center;
        }
      }
    }

    &__testimonial {
      height: 916px;
      padding-top: 100px;
      background-position: -150px 50px;
      .container {
        max-width: 100%;
        margin: 0;
      }
      &__blockquote-card {
        #carousel-homepage {
          padding-top: 360px;
          background-size: auto 390px;
          // carousel-card and background
          .carousel-inner {
            width: 100%;
            height: auto;

            .carousel-item {
            }
          }

          // carousel-indicators
          .carousel-indicators {
            width: 20%;
            bottom: 113px;
            left: 487px;
          }

          // carousel-control buttons
          .controls {
            .carousel-control-prev {
              span {
              }
            }
            .carousel-control-next {
              span {
              }
            }
          }
        }
      }

      .quote {
        display: grid;
        place-items: center;
      }
    }

    &__clients {
      background-size: 100%;
      background-position: 50% 43%;
      &__heading {
        padding: 0;
        padding-bottom: 40px;
        margin: 0;
        text-align: center;
      }
      &__body {
        text-align: center;
        padding: 0 40px;
        margin-top: -20px;
      }
      &__post-job {
        p {
          margin-bottom: 18px;
        }
        a {
          margin-top: 10px;
        }
      }
      &__cards {
      }
      &__text {
        padding-top: 24px;
      }
      &__bottom {
        padding: 30px 30px 0 30px;
        margin-top: -190px;
        &--logos {
          .row {
            display: flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            padding: 10px 0;
            &--bottom {
              margin-left: -40px;
            }
          }

          a {
            display: grid;
            place-items: center;
          }
          img {
            width: 100%;
          }
        }
        p {
          padding-top: 18px;
        }
      }
      .owl-carousel {
        margin: 420px 0 200px 0;
        .owl-item {
          margin: 0;
        }
      }
    }

    &__find-job {
      padding: 40px 0;
      text-align: center;
      button {
        padding: 0;
      }

      &__btn > a {
        margin: 16px auto;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {
  .header-homepage {
    height: 878px;
  }
  .homepage {
    &__heading {
      padding: 40px 200px 0 0;
    }

    &__header__image {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      margin-top: 178px;

      img {
        object-fit: cover;
        width: 720px;
        height: 396px;
        overflow: hidden;
      }
    }

    &__trending {
      height: 190px;
      padding: 65px 20px 20px 20px;
      &__left {
      }
      &__right {
        padding-left: 75px;
      }
    }

    &__how-works {
      height: 201px;
      padding: 40px 90px 46px 0px;
      &__text {
        padding-bottom: 36px;
      }
      ul {
        padding: 0;
        padding-left: 16px;
      }
      &__item {
        padding: 0;
        padding-right: 42px;
        .number {
          padding: 0;
          margin: 5px 30px 0 0;
        }
        .oval-right {
          margin: 10px 10px 0 0;
          position: block;
        }
      }
    }

    &__daily {
      height: 969px;
      &__top {
        padding: 50px 40px;
        &__heading {
          h2 {
            padding: 0;
            padding-bottom: 10px;
            text-align: center;
          }
        }
        &__category {
          justify-content: center;
        }
      }
      &__job-boards {
      }
      &__explore {
        padding: 0 41px 0 0;
        float: right;
        margin-top: -125px;
        div.number {
          padding-left: 60px;
        }
      }
    }

    &__testimonial {
      height: 944px;
      .container {
        max-width: 100%;
        margin: 0;
      }
      &__blockquote-card {
        padding-top: 86px;
        #carousel-homepage {
          padding: 370px 0 0 28px;
          background-size: auto 470px;
          background-repeat: no-repeat;

          // carousel-card and background
          .carousel-inner {
            width: 96.5%;
            height: auto;

            .carousel-item {
            }
          }

          // carousel-indicators
          .carousel-indicators {
            width: 20%;
            bottom: 113px;
            left: 487px;
          }

          // carousel-control buttons
          .controls {
            .carousel-control-prev {
              span {
              }
            }
            .carousel-control-next {
              span {
              }
            }
          }
        }
      }
    }

    &__clients {
      height: 903px;
      padding: 0 124px 0 54px;
      background-size: 97% 318px;
      background-position: 0 286px, center;
      position: relative;
      z-index: 10;
      &__heading {
      }
      &__body {
        height: 200px;
      }
      &__post-job {
        p {
          padding: 28px 180px 23px 0;
        }
        a {
        }
      }
      &__cards {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 130px;
        z-index: 0;
      }
      .owl-carousel {
        .owl-stage-outer {
          width: 90%;
        }
      }
      &__text {
      }
      &__bottom {
        width: 85%;
        position: absolute;
        bottom: -70px;
        &--logos {
          z-index: 99;

          .row {
            width: 100%;
            justify-content: space-evenly;
            margin: 0;

            &--bottom {
              padding-top: 28px;
            }
          }
        }
        p {
          padding-top: 36px;
        }
      }
    }

    &__find-job {
      height: 428px;
      padding: 137px 120px;
      &__title {
        text-align: center;
      }
      &__btn {
        display: flex;
        justify-content: center;
        margin-top: 24px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .homepage {
    &__heading {
      padding: 86px 0 60px 0;
      padding-right: 37%;
    }
    &__header__image {
      display: flex;
      justify-content: end;
      position: relative;

      img {
        position: absolute;
        top: -82px;
        right: 0;
        object-fit: cover;
        width: 350px;
        height: 708px;
        overflow: hidden;
      }
    }

    &__trending {
      &__left {
      }
      &__right {
        padding-left: 100px;
        margin-right: 300px;
      }
    }

    &__how-works {
      height: 201px;
      padding: 40px 90px 0 0;
      &__text {
        padding-bottom: 36px;
      }
      ul {
        width: 100%;
        padding: 0;
        li {
          display: flex;
          width: 100%;
        }
      }
      &__item {
        padding: 0;

        .number {
          padding: 0 25px 0 14px;
        }
        .oval-right {
          position: block;
          padding: 0 85px;
        }
      }
    }

    &__daily {
      height: 1050px;
      &__top {
        padding: 50px 0;
        h2 {
          padding-right: 120px;
        }

        &__category {
          padding-top: 112px;
          float: right;
        }
      }
      &__job-board {
      }

      &__explore {
        float: right;
        margin-top: -145px;
        padding-right: 100px;
        div.number {
          margin-left: 62px;
        }
      }
    }

    &__testimonial {
      &__blockquote-card {
        padding-top: 120px;
        #carousel-homepage {
          padding: 55px;
          // carousel-card and background
          .carousel-inner {
            width: 60.5%;
            height: auto;
          }
          .carousel-item {
          }
        }

        // carousel-indicators
        .carousel-indicators {
          width: 20%;
          bottom: 43px;
          left: 437px;
        }

        // carousel-control buttons
        .controls {
          .carousel-control-prev {
            span {
            }
          }
          .carousel-control-next {
            span {
            }
          }
        }
      }
    }

    &__clients {
      background-position: left 297px;
      background-size: 50%;
      &__heading {
        padding: 100px 100px 50px 100px;
        margin: 0 auto;
      }
      &__body {
        display: flex;
        justify-content: end;
        position: relative;
        width: 100%;
      }
      &__post-job {
        padding: 0 50px 0 550px;
        p {
          margin-bottom: 24px;
        }
        a {
        }
      }
      &__cards {
        position: absolute;
        top: 171px;
        left: 0;
        width: 100%;
        padding-left: 300px;
        .owl-carousel {
          width: 100%;
          .owl-stage-outer {
            width: 100%;
          }
        }
      }
      &__text {
        color: $color-shipgray;
      }
      &__bottom {
        padding: 100px 100px 100px 45px;
        position: relative;
        width: 100%;

        &--logos {
          display: flex;
          position: absolute;
          left: 0;
          bottom: -170px;
          width: 100%;
          padding: 0 60px;

          .row {
            width: 100%;
            &--top,
            &--bottom {
              display: flex;
              justify-content: space-evenly;
            }
          }
        }
        p {
          position: absolute;
          left: 0;
          bottom: -230px;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          padding: 20px 0 0 57px;
        }
      }
    }

    &__find-job {
      padding: 375px 10px 124px 5px;
      &__title {
        width: 100%;
        button {
          padding: 0;
          margin-top: -5px;
        }
      }
      &__btn {
        display: flex;
        padding-top: 33px;
        a {
          margin-left: auto;
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  .homepage {
    &__heading {
      padding-right: 48%;
    }

    &__text {
      line-height: 26px;
    }

    &__header__image {
      position: relative;

      img {
        position: absolute;
        top: -82px;
        right: 0;
        object-fit: cover;
        width: 510px;
        height: 708px;
        overflow: hidden;
      }
    }

    &__trending {
      &__right {
        margin-right: 450px;
      }
    }

    &__how-works {
      width: 100%;
      height: 280px;
      padding: 138px 0 148px 0;
      &__text {
      }
      ul {
        padding-left: 45px;
      }
      &__item {
        p {
        }
        .profile {
        }
        .number {
        }
        .oval-right {
          padding: 0 40px 0 30px;
        }
      }
    }

    &__daily {
      &__top {
        padding: 116px 0 65px 15px;

        &__heading {
          h2 {
            padding-right: 160px;
          }
        }
        &__category {
          margin-right: -10px;
          float: right;
        }
      }

      &__explore {
        margin: 0;
        padding: 32px 49px 0 0;
        float: right;
      }
    }

    &__testimonial {
      margin-top: 130px;
      &__blockquote-card {
        #carousel-homepage {
          padding: 55px;
          // carousel-card and background
          .carousel-inner {
            width: 50.5%;
            height: auto;
          }
        }
      }
    }

    &__clients {
      height: 1087px;
      background-size: 457px 478px;
      background-position: 0px 300px;
      position: relative;
      &__heading {
        padding: 95px 205px 68px 196px;
        margin: 0 auto;
      }
      &__body {
        display: flex;
        position: relative;
        padding-left: 4px;
      }
      &__post-job {
        width: 100%;
        margin-left: auto;
        padding: 0;
        padding: 0 230px 0 520px;
        p {
          color: $color-shipgray;
          margin-bottom: 24px;
        }
        a {
          color: $color-blazeorange;
          padding-left: 1px;
        }
      }
      &__cards {
        position: absolute;
        top: 171px;
        left: 0;
        .carousel {
          display: none;
        }
      }
      &__text {
        color: $color-shipgray;
      }
      &__bottom {
        position: absolute;
        left: 0;
        top: 665px;
        padding: 100px 100px 0 45px;
        &--logos {
          display: flex;

          width: 100%;
          padding: 0 60px;
        }
        p {
          text-align: center;
          padding: 20px 0 0 57px;
        }
      }
    }

    &__find-job {
      height: 351px;
      padding: 95px 0 0 0;
      &__title {
        padding: 0 90px 0 15px;
      }
      &__btn {
        margin-right: 10px;
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
  .homepage {
    &__how-works {
      &__item {
        padding: 0 35px;
      }
      ul {
        padding-left: 75px;
      }

      .oval-right {
        padding: 0;
        padding-right: 12px;
      }
    }
  }
}
