// cards

.card {
  // homepage-daily-job-board
  &--daily {
    border: 1px solid rgba(232, 231, 232, 0.5);

    .card__topper {
      display: flex;
      align-items: center;
      .card__image {
      }

      .card__company-name {
        margin-right: auto;
        padding: 0 11px;
      }
      .card__time {
        display: flex;
        justify-content: end;
      }
    }

    .card__body {
    }

    .card__description {
      display: flex;
      span {
      }
      i {
        align-items: center;
        font-size: $font-20;
      }
    }

    .card__bottom {
      display: flex;
      position: absolute;
      bottom: 0;

      &__apply {
        display: flex;
        p {
        }
      }
    }
  }

  // homepage-testimonial
  &--testimonial {
    background-color: $color-white;
    .oval-quotation {
      font-size: 60px;
      border: 1px solid rgba(255, 203, 132, 0.4);
    }
    figure {
      margin: 0;
    }
    blockquote {
      color: $color-black;
    }
    &__aside {
      color: $color-mountainmist;
      span {
        color: $color-shipgray;
      }
    }
  }

  // homepage-clients
  &--clients {
    text-align: center;

    border: none;

    img {
      height: auto;
      margin: 0 auto;
    }
    p {
      color: $color-midgray;
      padding-top: 29px;
      margin: 0;
    }
  }

  // search-jobsOne- srjOne-result
  &--srOne {
    padding: 24px 32px 32px 32px;
    ul,
    p {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    .card__topper {
      padding-bottom: 16px;
      img {
        width: 32px;
        height: 32px;
      }
      .card__company-name {
        margin: auto 0 auto 0;
        padding-left: 12px;
      }
      .card__time {
        margin-left: auto;
      }
    }
    h4 {
      padding: 16px 0;
    }
    .card__text {
      line-height: 24px;
    }
    .card__description {
      padding-top: 16px;
      i {
        padding-right: 6px;
      }
      span {
        padding-right: 24px;
      }
      padding-bottom: 16px;
    }
    .card__descriptor {
      padding: 15px 0 13px 0;
      border-top: 1px solid $color-bonjour;
    }
  }

  // search-employeers-search-employeers-result
  &--employee {
    padding: 24px 32px;
    .card__topper {
      img {
        width: 48px;
        height: 48px;
        header + aside {
          display: block;
          margin-left: auto;
        }
      }
      .card__topper-left {
        padding-left: 12px;
      }
      .card__topper-right {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        text-align: right;
        .card__review {
          margin-left: auto;
          span {
            display: block;
          }
        }
      }
    }
    .card__description {
      padding: 27px 0 16px 0;
      border-bottom: 1px solid $color-bonjour;
      span {
        padding-right: 10px;
        i {
          padding-right: 6px;
        }
      }
    }
    .card__descriptor {
      padding: 15px 0 13px 0;
    }
  }

  // search-jobsTwo - srjTwo-job-details
  &--srTwo {
    padding: 24px 32px 32px 32px;
    .card__topper {
      img {
        width: 32px;
        height: 32px;
      }
      .card__company-name {
        margin: auto 0 auto 0;
        padding: 0 10px;
      }
      .card__ratings {
        margin: auto 0 auto 0;
      }
      .card__social {
        margin: auto 0 auto auto;
        i {
          padding: 0 3px;
        }
        a {
          padding: 0 16px;
        }
      }
    }
    header {
      h4 {
        padding-top: 23px;
      }
    }
    .card__description {
      display: flex;
      border-bottom: 1px solid $color-bonjour;
      .card__time {
        margin-left: auto;
        padding: 0;
      }
    }
    .card__body {
      padding-bottom: 32px;
      .card__descriptor {
        font-weight: $bold;
        padding: 22px 0 14px 0;
      }
      ul {
        padding: 0;
        padding-left: 16px;
      }
      p {
        margin: 0;
        line-height: 26px;
      }
    }
    .card__bottom {
      border-top: 1px solid $color-bonjour;
      padding-top: 32px;
      img {
        padding: 50px 0 0 32px;
      }
    }
  }

  // company - company-employeer-information
  &--company {
    padding: 24px 30px 30px 30px;
    .card__topper {
      img {
        width: 72px;
        height: 72px;
      }
      .card__topper-left {
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        margin: auto 0 auto 0;
      }
      .card__topper-right {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        text-align: right;
        .card__review,
        span {
          display: block;
        }
      }
      border-bottom: 1px solid $color-bonjour;
    }
    .card__description__icons {
      padding-top: 32px;
      span {
        display: flex;
        i {
          padding-right: 6px;
        }
      }
      span:nth-child(even) {
        padding-left: 20px;
      }
      .card__description__item {
        padding-bottom: 24px;
      }
    }
    .card__description__text {
      .card__descriptor {
        font-weight: $bold;
        padding-bottom: 14px;
      }
      p:nth-last-child(1) {
        margin: 0;
      }
    }
  }

  // company - company-job-boards
  &--boards {
    padding: 24px 0;
    border-bottom: 1px solid $color-bonjour;
    .card__topper {
      display: flex;
      span {
        margin-left: auto;
      }
      img {
        width: 24px;
        height: 24px;
      }
      .card__company-name {
        margin: auto 0 auto 0;
      }
    }
    .card__body {
      .card__title {
        padding: 16px 0;
      }
    }
    .card__description {
      display: flex;
      span {
        padding-right: 24px;
        i {
          padding-right: 7px;
        }
      }
      .card__time {
        margin-left: auto;
      }
    }
  }

  // company - company-reviews-cards
  &--reviews {
    padding: 24px 0 34px 0;
    .card__topper {
      display: flex;
      .card__user {
        padding-left: 12px;
        .card__ratings {
          i {
            font-size: 10px;
          }
          i:nth-last-child(1) {
            font-size: 16px;
          }
        }
      }
      .card__time {
        margin-left: auto;
      }
    }
    .card__recommendation {
      display: flex;
      padding-left: 60px;
      .btn_def {
        padding-right: 8px;
        i {
          padding: 0 4px;
        }
      }
    }
    .card__body {
      padding: 14px 23px 16px 65px;
      .card__comment {
        padding-bottom: 9px;
      }
      .card__text {
        margin: 0;
      }
    }
    .card__bottom {
      display: flex;
      padding: 0px 23px 0 65px;
      i {
        padding: 0 8px;
      }
      .report {
        margin: auto 0;
      }
      .share {
        margin: auto 0 auto auto;
        padding: 0 32px;
      }
    }
  }
  &--benefits {
    header {
      padding: 0 0 4px 0;
      color: $color-shipgray;
    }
    i {
      padding: 1px 8px 0 1px;
      color: $color-chateaugreen;
    }
    p {
      padding: 0 10px 0 24px;
      color: $color-mountainmist;
    }
  }
  &--daily:hover,
  &--srOne:hover,
  &--employee:hover,
  &--boards:hover {
    .card__title,
    .card__header {
      color: $color-coral;
    }
  }

  // * colors

  &__company-name,
  &__title,
  &__header {
    transition-property: color;
    transition-duration: 00.3s;
    color: $color-shipgray;
    text-decoration: none !important;
  }
  &__time {
    color: $color-spunpearl;
  }
  &__description {
    color: $color-midgray;
  }
  &__bottom {
    p {
      color: $color-shipgray;
    }
    a {
      color: $color-blazeorange;
    }
  }
  &__header {
    color: $color-shipgray;
  }
  &__review {
    color: $color-coral;
    span {
      color: $color-mountainmist;
    }
  }
  &__descriptor {
    color: $color-black;
  }
  &__social {
    a {
      color: $color-midgray;
      text-decoration: none;
    }
  }
  &__text {
    color: $color-shipgray;
  }
  &__name {
    color: $color-shipgray;
  }
  &__comment {
    color: $color-shipgray;
  }
  &__ratings {
    display: flex;
    color: $color-mountainmist;

    span {
      color: $color-manatee;

      padding-left: 5px;
      order: 0;
    }
    img {
      display: inline;
      float: left;
      padding: 5px 0 0 1px;
      order: -1;
    }
  }
}

// * responsive

// Extra Small devices (phone, 320px and up)

@media (min-width: 320px) {
  .card {
    &--daily {
      min-width: 290px;
      min-height: 226px;
      margin-bottom: 10px;
      .card__topper {
        padding: 20px 28px 10px 20px;

        .card__company-name {
          margin-right: auto;
          padding: 0 11px;
        }
        .card__time {
          display: flex;
          justify-content: end;
          padding-top: 2px;
        }
      }
      .card__body {
        padding: 7px 12px 0 20px;
      }
      .card__description {
        padding: 0 0 24px 18px;
        span {
          padding-right: 24px;
        }
        i {
          padding-right: 6px;
        }
      }
    }

    &--testimonial {
      min-width: 300px;
      min-height: 354px;
      padding: 16px 24px 0 24px;
      blockquote {
        text-align: center;
        padding: 16px 0 0 0;
      }
      &__aside {
        text-align: center;
      }
    }

    &--clients {
      width: 98%;
      padding: 20px 18px;
      img {
        margin: 0 auto;
      }
      p {
        color: $color-midgray;
        padding-top: 29px;
        margin: 0;
      }
    }
  }
  // bigger-card (spotify)
  .bigger-card {
    min-height: 390px;

    .card__body {
      padding: 0 21px 0 20px;
    }
    .card__description {
      padding: 0;
      span {
        padding: 0 16px 0 0;
      }
    }

    .card__bottom {
      padding: 22px 0 20px 20px;
      &__apply {
        span > img {
          padding-left: 10px;
        }
      }
    }
  }
}

// @media (min-width: 459px) and (max-width: 576px) {
//   .card {
//     &--clients {
//       width: 60%;
//       margin: 0 auto;
//     }
//   }
// }

// Small devices (phone, 577px and up)

@media (min-width: 577px) {
  .card {
    &--testimonial {
      min-width: 300px;
      min-height: 354px;
      padding: 20px;
      blockquote {
        padding: 10px;
        margin: 0;
        text-align: left;
      }
      &__aside {
        padding: 10px;
        text-align: left;
      }
    }
    &--clients {
      // width: 75%;
      min-height: 160px;
    }
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .card {
    &--testimonial {
      max-width: 626px;
      min-height: 372px;
      padding: 36px 30px 8px 36px;
      blockquote {
        margin-top: 12px;
        padding-left: 0;
      }

      &__aside {
        padding: 30px 0 0 0;
      }
    }
    &--clients {
      min-width: 263px;
      min-height: 227px;
      padding: 44px 34px;
    }
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .card {
    &--daily {
      min-width: 360px;
      min-height: 226px;
      margin-bottom: 30px;

      .card__topper {
        display: flex;
        padding: 21px 23px 16px 23px;
        .card__image {
          margin-top: 2px;
        }
        .card__time {
          padding-top: 2px;
        }
      }

      .card__body {
        padding: 1px 35px 0 23px;
      }

      .card__description {
        padding: 0;
        span {
          padding: 0 23px 1px 0;
        }
        i {
          padding-right: 4px;
        }
      }

      .card__bottom {
        padding: 24px 20px 22px 24px;

        &__apply {
          p {
            p {
              padding: 0 5px 0 2px;
              margin-bottom: -5px;
            }
          }
        }
      }
    }
    &--testimonial {
      min-width: 520px;
      min-height: 522px;
      padding: 37px 56px 50px 56px;
    }
    &--clients {
      min-width: 0;
      min-height: 0;
      padding: 12px;
    }
  }

  // bigger-card (spotify)
  .bigger-card {
    min-height: 408px;
  }
}

// X-Large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  .card {
    &--clients {
      padding: 44px 36px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)

@media (min-width: 1400px) {
}
