/// mixin

// transition
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// box-shadow
@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

// card-description on xs grid alignment
@mixin card-description-grid {
  display: grid;
  width: 100%;

  span:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-bottom: 10px;
  }
}
